---

---


<section id="about" class="about mt-28">

  <div>
    <h2>About</h2>
    <p class="text-fontLightGray3 dark:text-fontDarkGray5">
      I’m a software and electrical engineer with an MSc in
      <a class="underline hover:text-btnLight dark:hover:text-btnDark" 
        href="https://www.youtube.com/watch?v=DS5Voxq2k_4" 
        target="_blank" 
        rel="author noopener">
        Advanced
        Electrical Systems and Structures</a>.
    </p>
    <p class="text-fontLightGray3 dark:text-fontDarkGray5">
      I started my career working as a Researcher at
      <a class="underline hover:text-btnLight dark:hover:text-btnDark" 
        href="https://ie.utcluj.ro/acasa.html" 
        target="_blank" 
        rel="author noopener">
        Technical University of
          Cluj-Napoca</a>. I&nbsp;spend a lot of my time working on software and electrical
      <a class="underline hover:text-btnLight dark:hover:text-btnDark" 
        href="#projects">projects</a>.
    </p>
    <div class="links">
      <a href="#" class="btn-cv border-2 border-btnLight bg-btnLight text-btnFont hover:bg-transparent dark:bg-btnDark dark:border-btnDark dark:hover:text-dark">View CV</a>
      <ul>
        <li>
          <a href="https://github.com/catalinpetrovici24" class="hover:text-btnLight dark:hover:text-btnDark">
            <span class="sr-only">Github</span>
            <svg class="rounded-2xl" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_142_148)">
              <path d="M47.2496 2.75039C45.4152 0.915962 43.2079 0 40.6252 0H9.37484C6.79213 0 4.58481 0.915962 2.75039 2.75039C0.915962 4.58481 0 6.79213 0 9.37484V40.6252C0 43.2079 0.915962 45.4152 2.75039 47.2496C4.58481 49.084 6.79213 50 9.37484 50H16.6675C17.143 50 17.5009 49.9825 17.7411 49.9499C18.0207 49.8939 18.2729 49.7448 18.4569 49.527C18.6946 49.2767 18.8148 48.9139 18.8148 48.4384L18.7972 46.2235C18.7872 44.8121 18.7822 43.6959 18.7822 42.87L18.0314 43.0001C17.5559 43.0877 16.9553 43.1253 16.227 43.1153C15.468 43.1013 14.7113 43.0251 13.9647 42.8875C13.1698 42.7408 12.4216 42.4061 11.7824 41.9115C11.1129 41.4051 10.6136 40.7067 10.3509 39.9094L10.0255 39.1586C9.75131 38.5664 9.40681 38.0093 8.99945 37.4994C8.53396 36.8912 8.06096 36.4808 7.58296 36.2631L7.35773 36.1004C7.20067 35.9879 7.05781 35.8568 6.93228 35.71C6.81238 35.5737 6.71368 35.4202 6.63947 35.2545C6.5744 35.1019 6.62946 34.9767 6.80214 34.8791C6.97733 34.779 7.29015 34.7315 7.74814 34.7315L8.39882 34.8316C8.83177 34.9167 9.36984 35.1769 10.008 35.6099C10.6538 36.0502 11.1933 36.629 11.5872 37.3042C12.0877 38.1926 12.6883 38.8708 13.3941 39.3388C14.0998 39.8043 14.8106 40.0395 15.5263 40.0395C16.2421 40.0395 16.8602 39.9845 17.3833 39.8769C17.8891 39.7723 18.3806 39.6076 18.8473 39.3864C19.0425 37.9348 19.5731 36.8137 20.4415 36.0328C19.3162 35.9225 18.201 35.7267 17.1055 35.4472C16.0363 35.1535 15.0081 34.7273 14.0447 34.1784C13.0368 33.6296 12.1465 32.8882 11.4245 31.9961C10.7313 31.1277 10.1607 29.989 9.7152 28.58C9.27224 27.1685 9.0495 25.5393 9.0495 23.6949C9.0495 21.0696 9.9054 18.8348 11.6197 16.9878C10.8189 15.0158 10.8939 12.8009 11.8474 10.3509C12.4781 10.1532 13.4116 10.3008 14.6479 10.7888C15.8842 11.2768 16.7901 11.6948 17.3657 12.0401C17.9413 12.3905 18.4018 12.6833 18.7497 12.9211C20.7843 12.3549 22.8869 12.0702 24.9988 12.0752C27.1485 12.0752 29.2307 12.358 31.2503 12.9211L32.4866 12.1402C33.4376 11.5693 34.4406 11.09 35.4823 10.7087C36.6335 10.2733 37.5094 10.1557 38.12 10.3509C39.0961 12.8034 39.1811 15.0158 38.3778 16.9903C40.0921 18.8348 40.9505 21.0696 40.9505 23.6974C40.9505 25.5418 40.7278 27.176 40.2823 28.595C39.8393 30.0165 39.2637 31.1552 38.558 32.0136C37.8522 32.872 36.9738 33.5903 35.9227 34.1784C34.8716 34.764 33.8505 35.1869 32.862 35.4472C31.7665 35.7277 30.6513 35.9243 29.526 36.0353C30.6522 37.0114 31.2178 38.5505 31.2178 40.6552V48.4384C31.2178 48.8062 31.2703 49.1041 31.3804 49.3318C31.4311 49.4415 31.5032 49.5399 31.5927 49.6212C31.6821 49.7025 31.7869 49.7649 31.901 49.8048C32.1413 49.8899 32.3515 49.9449 32.5367 49.965C32.7219 49.99 32.9871 49.9975 33.3325 49.9975H40.6252C43.2079 49.9975 45.4152 49.0815 47.2496 47.2471C49.0815 45.4152 50 43.2054 50 40.6227V9.37484C50 6.79213 49.084 4.58481 47.2496 2.75039Z" fill="currentColor"/>
              </g>
              <defs>
              <clipPath>
              <rect width="50" height="50" rx="10" fill="currentColor"/>
              </clipPath>
              </defs>
            </svg>
          </a>
        </li>
        <li >
          <a href="https://www.linkedin.com/in/catalinpetrovici24/" class="hover:text-btnLight dark:hover:text-btnDark">
            <span class="sr-only">Linkedin</span>
            <svg class="rounded-2xl" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_142_142)">
              <path d="M46.0938 0H3.90625C1.74805 0 0 1.74805 0 3.90625V46.0938C0 48.252 1.74805 50 3.90625 50H46.0938C48.252 50 50 48.252 50 46.0938V3.90625C50 1.74805 48.252 0 46.0938 0ZM18.0078 35.459H13.1348V19.8633H18.0078V35.459ZM15.4395 17.9102H15.4004C13.6328 17.9102 12.4902 16.7188 12.4902 15.2051C12.4902 13.6621 13.6719 12.5 15.4687 12.5C17.2656 12.5 18.3691 13.6621 18.4082 15.2051C18.418 16.709 17.2754 17.9102 15.4395 17.9102ZM37.5 35.459H31.9727V27.3926C31.9727 25.2832 31.1133 23.8379 29.209 23.8379C27.7539 23.8379 26.9434 24.8145 26.5723 25.752C26.4355 26.084 26.4551 26.5527 26.4551 27.0312V35.459H20.9766C20.9766 35.459 21.0449 21.1621 20.9766 19.8633H26.4551V22.3145C26.7773 21.2402 28.5254 19.7168 31.3184 19.7168C34.7852 19.7168 37.5 21.9629 37.5 26.7871V35.459Z" fill="currentColor"/>
              </g>
              <defs>
              <clipPath>
              <rect width="50" height="50" rx="10" fill="currentColor"/>
              </clipPath>
              </defs>
            </svg>  
          </a>
        </li>
        <li class="rounded-2xl">
          <a href="https://www.youtube.com/@catalin-cristianpetrovici1009" class="hover:text-btnLight dark:hover:text-btnDark">
            <span class="sr-only">Youtube</span>
            <svg class="rounded-2xl" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_142_144)">
              <path d="M21.6699 29.8145L29.8535 25.0098L21.6699 20.2051V29.8145Z" fill="currentColor"/>
              <path d="M46.0938 0H3.90625C1.74805 0 0 1.74805 0 3.90625V46.0938C0 48.252 1.74805 50 3.90625 50H46.0938C48.252 50 50 48.252 50 46.0938V3.90625C50 1.74805 48.252 0 46.0938 0ZM37.5 29.4727C37.5 33.7793 33.1934 33.7793 33.1934 33.7793H16.8066C12.5 33.7793 12.5 29.4727 12.5 29.4727V20.5371C12.5 16.2305 16.8066 16.2305 16.8066 16.2305H33.1934C37.5 16.2305 37.5 20.5371 37.5 20.5371V29.4727Z" fill="currentColor"/>
              </g>
              <defs>
              <clipPath id="clip0_142_144">
              <rect width="50" height="50" rx="10" fill="currentColor"/>
              </clipPath>
              </defs>
            </svg>   
          </a>     
        </li>
      </ul>
    </div>
  </div>
  <div>
    <img height="480" width="370" src="./Catalin-Petrovici-photo.webp" alt="Catalin Petrovici portrait photo" loading="lazy">
  </div>

</section>


<style>

  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  p {
    max-width: 75ch;
    margin-top: 2rem;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  a {
    transition: all 200ms ease-out;
  }

  .btn-cv {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    border-radius: 10px;
  }

  .links {
    margin-top: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    align-content: center;
  }

  ul {
    display: flex;
  }

  ul li {
    margin-right: clamp(2rem, 2.5vw, 4rem);
  }

  img {
    margin-top: 4rem;
    border-radius: 5px;
  }

  @media only screen and (min-width: 1000px) {

    h2 {
      margin-bottom: 5rem;
    }

    p {
      max-width: 45ch;
    }

    .about {
      display: flex;
      gap: 4rem;
      justify-content: space-between;
    }
    
    
    .links {
      margin-top: 6rem;
    }

  }





</style>