---
import Linkedin from '@svg/socials/Linkedin.astro';
import Youtube from '@svg/socials/Youtube.astro';
import Github from '@svg/socials/Github.astro';

const socialsAbout = [
  {
    social: 'Github',
    href: 'https://github.com/catalinpetrovici24',
    Logo: { Svg: Github },
  },
  {
    social: 'Linkedin',
    href: 'https://www.linkedin.com/in/catalinpetrovici24/',
    Logo: { Svg: Linkedin },
  },
  {
    social: 'Youtube',
    href: 'https://www.youtube.com/@catalin-cristianpetrovici1009',
    Logo: { Svg: Youtube },
  },
];
---

<section id='about' class='about mt-28'>
  <div>
    <h2>About</h2>
    <p class='text-fontLightGray3 dark:text-fontDarkGray5'>
      I’m a software and electrical engineer with an MSc in
      <a
        class='underline hover:text-btnLight dark:hover:text-btnDark'
        href='https://www.youtube.com/watch?v=DS5Voxq2k_4'
        target='_blank'
        rel='external noopener'
      >
        Advanced Electrical Systems and Structures</a
      >.
    </p>
    <p class='text-fontLightGray3 dark:text-fontDarkGray5'>
      I started my career working as a Researcher at
      <a
        class='underline hover:text-btnLight dark:hover:text-btnDark'
        href='https://ie.utcluj.ro/acasa.html'
        target='_blank'
        rel='external noopener'
      >
        Technical University of Cluj-Napoca</a
      >. I&nbsp;spend a lot of my time working on software and electrical
      <a
        class='underline hover:text-btnLight dark:hover:text-btnDark'
        href='#projects'>projects</a
      >.
    </p>
    <div class='links'>
      <a
        rel='external noopener'
        href='https://drive.google.com/file/d/11uuJTltMuXixySRoEXCEq45ieA2hXEFp/view?usp=share_link'
        class='btn-cv border-2 border-btnLight bg-btnLight text-btnFont hover:bg-transparent dark:bg-btnDark dark:border-btnDark dark:hover:text-dark'
        >View CV</a
      >
      <ul>
        {
          socialsAbout.map((item) => {
            const { social, href, Logo } = item;
            return (
              <li>
                <a
                  href={href}
                  class='hover:text-btnLight dark:hover:text-btnDark'
                >
                  <span class='sr-only'>{social}</span>
                  <Logo.Svg class="rounded-2xl"/>
                </a>  
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <div>
    <img
      height='480'
      width='370'
      src='./Catalin-Petrovici-photo.webp'
      alt='Catalin Petrovici portrait photo'
      loading='lazy'
    />
  </div>
</section>

<style>
  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  p {
    max-width: 75ch;
    margin-top: 2rem;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  a {
    transition: all 200ms ease-out;
  }

  .btn-cv {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    border-radius: 10px;
  }

  .links {
    margin-top: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    align-content: center;
  }

  ul {
    display: flex;
  }

  ul li {
    margin-right: clamp(2rem, 2.5vw, 4rem);
  }

  img {
    margin-top: 4rem;
    border-radius: 5px;
  }

  @media only screen and (min-width: 1000px) {
    h2 {
      margin-bottom: 5rem;
    }

    p {
      max-width: 45ch;
    }

    .about {
      display: flex;
      gap: 4rem;
      justify-content: space-between;
    }

    .links {
      margin-top: 6rem;
    }
  }
</style>
