---
import Telegram from '@svg/socials/Telegram.astro';
import Discord from '@svg/socials/Discord.astro';
import Linkedin from '@svg/socials/Linkedin.astro';
import Github from '@svg/socials/Github.astro';
import Heart from '@svg/Symbols/Heart.astro';

const socialsFooter = [
  {
    social: 'Github',
    href: 'https://github.com/catalinpetrovici',
    Logo: { Svg: Github },
    account: 'catalinpetrovici24',
  },
  {
    social: 'Linkedin',
    href: 'https://www.linkedin.com/in/catalinpetrovici24/',
    Logo: { Svg: Linkedin },
    account: 'catalinpetrovici24',
  },
  {
    social: 'Discord',
    href: 'https://discord.com/users/409360354230009866',
    Logo: { Svg: Discord },
    account: 'catalinpe24#2399',
  },
  {
    social: 'Telegram',
    href: 'https://t.me/catalinpetrovici',
    Logo: { Svg: Telegram },
    account: 'catalinpetrovici',
  },
];
---

<footer id='footer' class='mt-28 border-light dark:border-dark'>
  <div>
    <ul>
      {
        socialsFooter.map((item) => {
          const { social, href, Logo, account } = item;
          return (
            <li>
              <a
                href={href}
                class='hover:text-btnLight dark:hover:text-btnDark'
              >
                <span class='sr-only'>{social}</span>
                <Logo.Svg />
                <span>{account}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <div class='footer-wrapper dark:text-fontDarkGray5'>
    <div>
      <span>Thank you for visiting me!</span>
      <span>Build with&nbsp;{(<Heart />)}&nbsp;using: Astro</span>
    </div>
    <span>Copyright © 2023 All rights reserved.</span>
  </div>
</footer>

<style>
  footer {
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    border-top: 2px solid;
    padding-top: 2rem;
    margin-bottom: 4rem;
  }

  div {
    margin-bottom: 3rem;
  }

  span {
    display: block;
  }

  svg {
    border-radius: 10px;
    display: inline-block;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  ul li a {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
</style>
