

<header class="bg-bgLight text-fontLight dark:bg-bgDark dark:text-fontDark">

  <a class="skip-nav-link bg-bgLight text-light dark:bg-bgDark dark:text-dark" href="#main-content">Skip to main content</a>
  <div class="header_content_wrapper">
    
    <!-- logo -->
    <a aria-label="home" class="mr-auto" href="http://192.168.0.111:3000">
      <span>
        <svg aria-label="Catalin Petrovici LogoType" width="44" height="30" viewBox="0 0 44 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.34 28.79V0.8H4.36V28.79H0.34ZM14.5234 10.8271C12.6875 10.8271 11.7695 12.4043 11.7695 15.5586C11.7695 17.1602 12.0234 18.2783 12.5312 18.9131C13.0391 19.5381 13.7764 19.8506 14.7432 19.8506C16.2373 19.8506 17.5752 19.709 18.7568 19.4258L19.665 21.7402C19.0205 22.1602 18.1562 22.5166 17.0723 22.8096C15.998 23.0928 14.9482 23.2344 13.9229 23.2344C9.60645 23.2344 7.44824 20.7344 7.44824 15.7344C7.44824 12.8047 8.2002 10.7051 9.7041 9.43555C11.042 8.32227 12.6729 7.76562 14.5967 7.76562C16.5205 7.76562 18.1172 8.12207 19.3867 8.83496C19.3965 8.93262 19.4014 9.03027 19.4014 9.12793C19.4111 9.22559 19.416 9.31836 19.416 9.40625C19.416 10.5488 19.1572 11.6279 18.6396 12.6436H16.0029C15.7197 12.1357 15.5488 11.54 15.4902 10.8564C15.3633 10.8467 15.2168 10.8418 15.0508 10.8418C14.8945 10.832 14.7188 10.8271 14.5234 10.8271ZM20.6465 10.3145L20.9395 8C22.0137 7.75586 23.0049 7.63379 23.9131 7.63379C24.3525 7.63379 24.7529 7.64355 25.1143 7.66309C25.4854 7.67285 25.8174 7.6875 26.1104 7.70703V9.17188C27.4482 8.23438 28.8789 7.76562 30.4023 7.76562C32.3945 7.76562 33.8398 8.33691 34.7383 9.47949C35.6465 10.6123 36.1006 12.5068 36.1006 15.1631C36.1006 16.5889 35.8906 17.8438 35.4707 18.9277C35.0508 20.002 34.4795 20.8418 33.7568 21.4473C32.3701 22.6387 30.7295 23.2344 28.835 23.2344C27.9951 23.2344 27.2139 23.1562 26.4912 23V25.5781C27.6826 25.9004 28.4443 26.2715 28.7764 26.6914L28.4834 29.0059H20.9395L20.6465 26.6914C20.9004 26.3301 21.4521 25.9883 22.3018 25.666V11.3252C21.5889 11.0908 21.0371 10.7539 20.6465 10.3145ZM28.542 20.1729C29.5381 20.1729 30.3242 19.7285 30.9004 18.8398C31.4863 17.9414 31.7793 16.7109 31.7793 15.1484C31.7793 13.5762 31.6182 12.502 31.2959 11.9258C30.9736 11.3496 30.3926 11.0615 29.5527 11.0615C28.2637 11.0615 27.2432 11.3594 26.4912 11.9551V19.9385C27.1064 20.0947 27.79 20.1729 28.542 20.1729ZM39.217 28.79V0.8H43.237V28.79H39.217Z" fill="currentColor"/>
          </svg>          
      </span>
    </a>

    <!-- mobile handburger -->
    <button type="button" class="block sm:hidden mobile-nav-toggle" aria-controls="mobile-navigation" aria-label="Mobile Navigation" aria-expanded="false" >
      <svg class="mobile-menu-bars" width="40px" height="40px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/></svg>
      <svg class="hidden mobile-menu-close" width="40px" height="40px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
      <span class="mobile-menu-text sr-only">Menu</span>
    </button>

    <!-- Mobile Nav -->
    <nav id="mobile-navigation" data-visible="false" class="sm:hidden mobile-navigation bg-bgLight text-light dark:bg-bgDark dark:text-dark">
      <ul>
        <li><a class="mobile-navigation-link border-b-2 border-fontDarkGray4 hover:bg-inherit dark:hover:text-dark" href="#projects">Projects</a></li>
        <li><a class="mobile-navigation-link border-b-2 border-fontDarkGray4 hover:bg-inherit dark:hover:text-dark" href="#about">About</a></li>
        <li><a class="mobile-navigation-link border-b-2 border-fontDarkGray4 hover:bg-inherit dark:hover:text-dark" href="#main-skills">Main Skills</a></li>
        <li class="inline-block mt-8">
          <a class="mobile-navigation-link contact btn-cv border-2 border-btnLight bg-btnLight text-btnFont hover:bg-transparent dark:bg-btnDark dark:border-btnDark dark:hover:text-dark" 
          href="#">
          Contact Me
          </a>
        </li>
      </ul>
    </nav>

    <nav class="hidden navigation bg-bgLight text-fontLightGray1 dark:bg-bgDark dark:text-fontDarkGray1 sm:block">
      <ul>
        <li><a class="navigation-link hover:bg-inherit hover:text-fontLight dark:hover:text-dark" href="#projects">Projects</a></li>
        <li><a class="navigation-link hover:bg-inherit hover:text-fontLight dark:hover:text-dark" href="#about">About</a></li>
        <li><a class="navigation-link hover:bg-inherit hover:text-fontLight dark:hover:text-dark" href="#main-skills">Main Skills</a></li>
        <li><a class="navigation-link hover:bg-inherit hover:text-fontLight dark:hover:text-dark" href="/contact">Contact Me</a></li>
      </ul>
    </nav>

  </div>
    
</header>


<style>

  header {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 101;
  }

  .header_content_wrapper {
    width: 100%;
    min-height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--padding-layout-left);
    padding-right: var(--padding-layout-right);
  }

  .mobile-navigation {
    position: fixed;
    visibility: visible;
    width: 100%;
    max-width: 100vw;
    padding-left: var(--padding-layout-left);
    padding-right: var(--padding-layout-right);
    z-index: 200;
    left: 0;
    right: 0;
    top: calc(var(--header-height) - 1px);
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: transform 325ms ease-in;
  }

  .mobile-navigation[data-visible="true"] {
    transform: translate(0%);
  }

  .mobile-navigation[data-visible="false"] {
    transform: translate(100%);
  }

  .skip-nav-link {
    position: absolute;
    left: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: clamp(1.6rem, 5.5vw, 1.8rem);
    font-weight: 600;
    transform: translateY(-100%);
    transition: transform 325ms ease-in;
  }

  .skip-nav-link:focus {
    transform: translateY(0);
  }

  .mobile-nav-toggle {
    width: 4rem;
    aspect-ratio: 1;
    transition: background-image 100ms ease-in;
  }

  .mobile-nav-toggle[aria-expanded="true"] .mobile-menu-bars{
    display: none;
  }

  .mobile-nav-toggle[aria-expanded="false"] .mobile-menu-bars{
    display: block;
  }

  .mobile-nav-toggle[aria-expanded="true"] .mobile-menu-close{
    display: block;
  }

  .mobile-nav-toggle[aria-expanded="false"] .mobile-menu-close{
    display: none;
  }

  .mobile-navigation-link {
    font-size: clamp(1.8rem, 5.5vw, 2rem);
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 6rem;
    width: 100%;
    transition: background-color, color 200ms ease-in-out;
  }

  .navigation-link {
    font-size: clamp(1.5rem, 2vw, 1.6rem);
    cursor: pointer;
    margin-left: 4rem;
    transition: background-color, color  200ms ease-in-out;
  }

  .contact {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
    font-weight: 600 ;
  }

  ul li a:hover {
    background-color: #c3c3c3;
  }

  .navigation ul {
    display: flex;
  }

</style>


<script>

  const navToggleButton = document.querySelector('.mobile-nav-toggle')! as HTMLButtonElement;
  const primaryNavigation = document.querySelector('.mobile-navigation')! as HTMLDivElement;
  const linksNavigation = document.querySelectorAll('.mobile-navigation-link')! as NodeListOf<Element>;
  const textMenuMobile = document.querySelector('.mobile-menu-text')! as HTMLSpanElement;
    

  navToggleButton.addEventListener('click', (event) => {
    event.preventDefault();
    const visibility = primaryNavigation.getAttribute('data-visible');

    if(visibility === 'false'){
      primaryNavigation.setAttribute('data-visible', "true");
      navToggleButton.setAttribute('aria-expanded', "true");
      document.body.style.overflow = 'hidden';
      textMenuMobile.innerText  = 'Close Menu';

    } else if (visibility === 'true') {
      primaryNavigation.setAttribute('data-visible', "false")
      navToggleButton.setAttribute('aria-expanded', "false");
      document.body.style.overflow = 'scroll';
      textMenuMobile.innerText = 'Open Menu';
    }
  })

  linksNavigation.forEach((link) => {

    link.addEventListener('click', () => {
      const visibility = primaryNavigation.getAttribute('data-visible');

      if (visibility === 'true') {
        primaryNavigation.setAttribute('data-visible', "false");
        navToggleButton.setAttribute('aria-expanded', "false");
        document.body.style.overflow = 'scroll';
        textMenuMobile.innerText = 'Open Menu';
      }
    })
  })

</script>