---

export interface Props {
	title: string;
	subtitle: string;
	body: string;
	href: string;
}

const { href, title, subtitle, body} = Astro.props;

---

<article class="project">
  <div class="description">
    <div class="project-heading">
      <slot />
      <div class="ml-8">
        <span class="subtitle text-fontLightGray2 dark:text-fontDarkGray4">{subtitle}</span>
        <h3>{title}</h3>
      </div>
    </div>
    <p class="text-fontLightGray2 dark:text-fontDarkGray3">{body}</p>
    <a href={href}>
      <svg width="20" height="20" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 1L13 7M13 7L8 13M13 7H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      View Project
    </a>
  </div>
  <slot name="image-showcase"/>
</article>


<style>

  .project {
    margin-top: 4rem;
  }

  h3 {
    font-size: clamp(2rem, 4vw, 2.4rem);
    font-weight: 600;
  }

  .project-heading {
    display: flex;
    align-items: flex-end;
  }

  .subtitle {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  }

  p {
    max-width: 75ch;
    margin-top: 2rem;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
  }

  a svg {
    margin-right: 2rem;
  }


  @media only screen and (min-width: 1200px) {

    .project {
      display: flex;
      gap: 5rem;
      margin-top: 10rem;
    }

    .project:nth-child(odd) .description{
      order: 1;
    }
  }

</style>