---

---


<section id="main-skills" class="mt-28">

  <h2>Main Skills</h2>

  <div class="cards">

    <div class="card border-[#333333] dark:border-[#F2F2F2]">
      <svg width="100%" height="100%" style="max-width: 150px;" viewBox="0 0 107 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M92.4864 24.0851L59.1649 43.9619V24.0851H92.4864Z" fill="currentColor"/>
        <path d="M24.0569 10.8727C25.5003 10.8727 26.6704 9.70275 26.6704 8.25933C26.6704 6.8159 25.5003 5.646 24.0569 5.646C22.6135 5.646 21.4434 6.8159 21.4434 8.25933C21.4434 9.70275 22.6135 10.8727 24.0569 10.8727Z" fill="currentColor"/>
        <path d="M16.6085 10.8727C18.0518 10.8727 19.2219 9.70275 19.2219 8.25933C19.2219 6.8159 18.0518 5.646 16.6085 5.646C15.1651 5.646 13.995 6.8159 13.995 8.25933C13.995 9.70275 15.1651 10.8727 16.6085 10.8727Z" fill="currentColor"/>
        <path d="M9.16 10.8727C10.6034 10.8727 11.7735 9.70275 11.7735 8.25933C11.7735 6.8159 10.6034 5.646 9.16 5.646C7.71661 5.646 6.54654 6.8159 6.54654 8.25933C6.54654 9.70275 7.71661 10.8727 9.16 10.8727Z" fill="currentColor"/>
        <path d="M105.538 15.4466V75.1932C105.538 78.01 103.245 80.3042 100.428 80.3042H6.11077C3.29403 80.3042 1 78.01 1 75.1932V6.11067C1 3.29417 3.29403 1 6.11077 1H100.428C103.245 1 105.538 3.29417 105.538 6.11067V15.4466Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1 15.4469H105.538" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M92.4851 24.0851H59.1631V43.9619H92.4851V24.0851Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.1467 24.0851H14.052V71.5194H50.1467V24.0851Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.052 71.5194L32.0995 47.8096L50.1467 24.0851" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.052 24.0851L32.0995 47.8096L50.1467 71.5194" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M59.1631 43.9619L92.4851 24.0851" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M59.1631 54.9389H92.4851" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M59.1631 64.7827H75.8167" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
      <h3>Frontend Developer</h3>
      <p>I design user friendly, incl usive and accessible products. 
        I also work directly with development teams to deliver useful design 
        specifications: user flows, mockups, design systems, interaction guidelines, etc.
      </p>
    </div>

    <div class="card border-[#333333] dark:border-[#F2F2F2]">
      <svg width="100%" height="100%" style="max-width: 150px;" viewBox="0 0 131 95" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M112.096 45.4978V83.1725" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.6411 83.1722V23.5455C10.6411 19.2441 14.2009 15.6843 18.5024 15.6843H99.7844" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.5407 83.1721C50.5407 86.1388 52.9138 87.4735 55.8801 87.4735H66.708C69.6746 87.4735 72.0478 86.1388 72.0478 83.1721H121.292V88.3636C121.292 91.4782 118.77 94 115.655 94H6.63634C3.52152 94 1 91.4782 1 88.3636V83.1721H50.5407Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.6703 45.4978H43.57" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.288 36.5988L28.7377 41.0485L24.288 45.4981" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.288 63.5937H33.1874" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M39.1193 63.5937H52.4686" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.288 54.694H39.8622" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.537 54.694H55.4363" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M61.3682 54.694H73.2345" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M129.896 23.2489L121.144 28.737L112.096 34.3733L103.197 28.737L94.2974 23.2489L103.197 17.6125L112.096 23.2489H112.245L120.996 17.6125L129.896 23.2489Z" fill="currentColor"/>
        <path d="M121.144 28.7369L129.896 34.3733L112.096 45.4978L94.2974 34.3733L103.197 28.7369" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M112.096 23.2492V23.1009L112.244 23.2492" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M103.197 17.6125L94.2974 23.2489L103.197 28.737L112.096 34.3733L121.144 28.737L129.896 23.2489L120.996 17.6125" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M103.197 17.6125L94.2974 12.1244L112.096 1L129.896 12.1244L120.996 17.6125L112.245 23.2489H112.096L103.197 17.6125Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg> 

      <h3>Backend Developer</h3>
      <p>I design user friendly, incl usive and accessible products. 
        I also work directly with development teams to deliver useful design 
        specifications: user flows, mockups, design systems, interaction guidelines, etc.
      </p>
    </div>

    <div class="card border-[#333333] dark:border-[#F2F2F2]">
      <svg width="100%" height="100%" style="max-width: 150px;" viewBox="0 0 151 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.2115 7.71256C22.7265 7.71256 22.2602 7.91332 21.9173 8.26543C21.5745 8.61754 21.383 9.09629 21.383 9.59357C21.383 10.0908 21.5776 10.5696 21.9235 10.9217C22.2663 11.2738 22.7327 11.4684 23.2207 11.4684C23.7057 11.4684 24.172 11.2676 24.5149 10.9155C24.8577 10.5634 25.0492 10.0847 25.0492 9.58739C25.0492 9.09011 24.8546 8.61137 24.5087 8.25926C24.1628 7.90715 23.6964 7.70947 23.2115 7.71256ZM23.2115 10.5758C22.8223 10.5727 22.4702 10.3318 22.3219 9.96112C22.1737 9.59048 22.2571 9.16733 22.535 8.88317C22.8099 8.6021 23.2269 8.51562 23.5883 8.67005C23.9497 8.82449 24.1844 9.18277 24.1844 9.5843C24.1844 9.84684 24.0825 10.1001 23.9002 10.2854C23.7149 10.4738 23.4678 10.5758 23.2115 10.5758Z" fill="#9A9A9A"/>
        <path d="M29.6236 6.41833H16.8766L15.3044 9.19197V28.3665H16.682V32.3942C16.6851 32.8976 16.9044 33.3733 17.2843 33.6945V44.0354C17.2843 44.4864 17.519 44.9064 17.902 45.1319C18.285 45.3574 18.7545 45.3574 19.1375 45.1319C19.5205 44.9064 19.7552 44.4895 19.7552 44.0354V33.6976C20.1351 33.3764 20.3544 32.9007 20.3575 32.3973V28.3696H21.4849V32.3973C21.488 32.9007 21.7073 33.3764 22.0872 33.6976V44.0385C22.1119 44.474 22.3528 44.8663 22.7265 45.0763C23.0972 45.2863 23.5512 45.2863 23.9219 45.0763C24.2925 44.8663 24.5365 44.474 24.5612 44.0385V33.6976C24.938 33.3764 25.1573 32.9007 25.1604 32.3973V28.3696H26.0778V32.3973C26.0808 32.9007 26.3032 33.3795 26.6831 33.6976V44.0385C26.6831 44.4895 26.9179 44.9095 27.3009 45.135C27.6839 45.3605 28.1534 45.3605 28.5333 45.135C28.9163 44.9095 29.151 44.4926 29.151 44.0385V33.6976C29.5309 33.3764 29.7502 32.9007 29.7533 32.3973V28.3696H31.1308V9.05607L29.6236 6.41833ZM18.8811 34.096V44.0385C18.8811 44.2455 18.7174 44.4153 18.5136 44.4153C18.3097 44.4153 18.146 44.2455 18.146 44.0385V34.096H18.8811ZM19.4834 32.3973C19.4834 32.8451 19.1282 33.2096 18.6896 33.2096H18.3344C17.8958 33.2096 17.5406 32.8451 17.5406 32.3973V28.3696H19.4834V32.3973ZM23.6871 34.096V44.0385C23.684 44.2486 23.5172 44.4153 23.3134 44.4153C23.1095 44.4153 22.9458 44.2455 22.9458 44.0385V34.096H23.6871ZM24.2863 32.3973C24.2863 32.8451 23.9311 33.2096 23.4925 33.2096H23.1404C22.9304 33.2096 22.7265 33.1262 22.5783 32.9718C22.43 32.8204 22.3435 32.6104 22.3435 32.3973V28.3696H24.2832L24.2863 32.3973ZM28.2676 34.096V44.0385C28.2676 44.2455 28.1039 44.4153 27.9001 44.4153C27.6962 44.4153 27.5325 44.2455 27.5325 44.0385V34.096H28.2676ZM28.8699 32.3973C28.8699 32.8451 28.5147 33.2096 28.0761 33.2096H27.7209C27.2824 33.2096 26.9271 32.8451 26.9271 32.3973V28.3696H28.8668L28.8699 32.3973ZM16.1693 9.43289L17.3738 7.30479H29.1263L30.2506 9.2939V11.8606H16.1693V9.43289Z" fill="#9A9A9A"/>
        <path d="M90.4614 19.6625H80.6734C79.861 19.6625 79.2062 19.0046 79.2062 18.1954C79.2062 17.3831 79.8641 16.7283 80.6734 16.7283H90.4614C91.2737 16.7283 91.9285 17.3862 91.9285 18.1954C91.9285 19.0046 91.2737 19.6625 90.4614 19.6625Z" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M82.4586 19.6625V20.762C82.4586 21.1667 82.8231 21.4972 83.274 21.4972C83.725 21.4972 84.0894 21.1698 84.0894 20.762V19.6625H82.4586Z" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M87.033 19.7273V20.8269C87.033 21.2315 87.3974 21.562 87.8484 21.562C88.2993 21.562 88.6638 21.2346 88.6638 20.8269V19.7273H87.033Z" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M83.274 21.5404V36.7707" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M87.8484 36.8326V21.6023" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M86.7086 14.6866H84.2624V16.7252H86.7086V14.6866Z" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M90.6251 16.6448V10.6096C90.6251 7.83283 88.3611 5.58118 85.5689 5.58118C82.7767 5.58118 80.5127 7.83283 80.5127 10.6096V16.6448" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M129.002 59.1543C128.378 59.3582 127.708 59.4663 127.016 59.4663C126.361 59.4663 125.731 59.3675 125.138 59.1883C125.123 59.5744 124.804 59.8833 124.415 59.8833C124.017 59.8833 123.693 59.559 123.693 59.1605C123.693 58.9659 123.77 58.7899 123.893 58.6602C121.913 57.5606 120.573 55.4479 120.573 53.0202C120.573 49.462 123.467 46.5618 127.025 46.5618C130.583 46.5618 133.471 49.4466 133.465 53.0079C133.465 55.4108 132.152 57.505 130.204 58.6138C130.352 58.7435 130.448 58.9381 130.448 59.1543C130.448 59.5528 130.123 59.8771 129.725 59.8771C129.326 59.8771 129.002 59.5528 129.002 59.1543ZM129.002 59.1543V59.1574" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M129.373 70.9223V59.8865" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M124.733 70.8543V59.8153" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M129.119 58.1722L128.316 57.3691" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M127.402 56.4116L126.596 55.6055" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M125.642 54.6912L124.838 53.8882" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M64.7018 62.3419V64.2322C64.7018 64.6862 64.3342 65.0538 63.8833 65.0538H51.8127C51.3587 65.0538 50.9911 64.6862 50.9911 64.2322V62.3419" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M50.988 59.5374V45.2337C50.988 44.7797 51.3556 44.4121 51.8096 44.4121H63.8802C64.3342 44.4121 64.6987 44.7797 64.6987 45.2337V59.5374" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M50.988 59.5375C51.6397 59.6734 52.1277 60.2479 52.1277 60.9397C52.1277 61.6316 51.6397 62.2061 50.988 62.342" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M63.5621 60.9397C63.5621 60.2479 64.0501 59.6765 64.7018 59.5375" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M64.7018 62.3419C64.0501 62.206 63.5621 61.6346 63.5621 60.9427" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M55.0836 51.2845C54.6327 51.2845 54.2651 50.9169 54.2651 50.466V48.0661C54.2651 47.6151 54.6327 47.2476 55.0836 47.2476C55.5346 47.2476 55.9021 47.6151 55.9021 48.0661V50.466C55.899 50.92 55.5346 51.2845 55.0836 51.2845Z" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M55.0836 59.6302C54.6327 59.6302 54.2651 59.2626 54.2651 58.8117V56.4118C54.2651 55.9608 54.6327 55.5933 55.0836 55.5933C55.5346 55.5933 55.9021 55.9608 55.9021 56.4118V58.8117C55.899 59.2626 55.5346 59.6302 55.0836 59.6302Z" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M56.1677 53.1409L55.0836 53.6289L53.9408 53.1316" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M56.1677 61.2023L55.0836 61.6903L53.9408 61.1899" stroke="#9A9A9A" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M56.4828 66.2708C56.4828 66.7557 56.106 67.1479 55.621 67.1479C55.1361 67.1479 54.7253 66.7557 54.7253 66.2708" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M54.7253 66.2708V65.0508" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M56.4828 66.2708V65.0508" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M61.0942 66.2708C61.0942 66.7557 60.7174 67.1479 60.2324 67.1479C59.7475 67.1479 59.3367 66.7557 59.3367 66.2708" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M59.3367 66.2708V65.0508" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M61.0942 66.2708V65.0508" stroke="#9A9A9A" stroke-miterlimit="10"/>
        <path d="M55.621 67.3451L55.6025 74.5201" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M60.2263 67.3451L60.2077 74.4552" stroke="#9A9A9A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M95.1531 57.431C95.1531 57.5082 95.1871 57.5824 95.2489 57.638L95.8079 58.1322V59.4696C95.8079 59.5468 95.8419 59.6209 95.9037 59.6765L96.5585 60.2603C96.6202 60.3128 96.7036 60.3437 96.7901 60.3437H97.4449C97.5314 60.3437 97.6148 60.3128 97.6766 60.2603L98.3314 59.6765C98.3931 59.6209 98.4271 59.5468 98.4271 59.4696V58.1322L98.9862 57.638C99.0479 57.5824 99.0819 57.5082 99.0819 57.431V56.2666H99.4093C99.5823 56.2666 99.7491 56.2048 99.8726 56.0967C99.9962 55.9886 100.064 55.8404 100.064 55.6859V47.5318C100.064 47.3774 99.9931 47.2291 99.8726 47.121C99.7491 47.0129 99.5823 46.9511 99.4093 46.9511H99.0819V45.7867C99.0819 45.7095 99.0479 45.6353 98.9862 45.5797L98.4271 45.0856V43.7482C98.4271 43.6709 98.3931 43.5968 98.3314 43.5412L97.6766 42.9575C97.6148 42.9049 97.5314 42.8741 97.4449 42.8741H96.7901C96.7036 42.8741 96.6202 42.9049 96.5585 42.9575L95.9037 43.5412C95.8419 43.5968 95.8079 43.6709 95.8079 43.7482V45.0856L95.2489 45.5797C95.1871 45.6353 95.1531 45.7095 95.1531 45.7867V46.948H94.4983V45.7836C94.4983 45.7064 94.4643 45.6323 94.4026 45.5767L93.8435 45.0825V43.7451C93.8435 43.6679 93.8095 43.5937 93.7477 43.5381L93.0929 42.9544C93.0312 42.9019 92.9478 42.871 92.8613 42.871H92.2065C92.12 42.871 92.0366 42.9019 91.9748 42.9544L91.32 43.5381C91.2583 43.5937 91.2243 43.6679 91.2243 43.7451V45.0825L90.6652 45.5767C90.6035 45.6323 90.5695 45.7064 90.5695 45.7836V46.948H89.9147V45.7836C89.9147 45.7064 89.8807 45.6323 89.8189 45.5767L89.2599 45.0825V43.7451C89.2599 43.6679 89.2259 43.5937 89.1641 43.5381L88.5093 42.9544C88.4476 42.9019 88.3642 42.871 88.2777 42.871H87.6229C87.5364 42.871 87.453 42.9019 87.3912 42.9544L86.7364 43.5381C86.6747 43.5937 86.6407 43.6679 86.6407 43.7451V45.0825L86.0816 45.5767C86.0199 45.6323 85.9859 45.7064 85.9859 45.7836V46.948H85.3311V45.7836C85.3311 45.7064 85.2971 45.6323 85.2353 45.5767L84.6763 45.0825V43.7451C84.6763 43.6679 84.6423 43.5937 84.5805 43.5381L83.9257 42.9544C83.864 42.9019 83.7806 42.871 83.6941 42.871H83.0393C82.9528 42.871 82.8694 42.9019 82.8076 42.9544L82.1528 43.5381C82.0911 43.5937 82.0571 43.6679 82.0571 43.7451V45.0825L81.498 45.5767C81.4362 45.6323 81.4023 45.7064 81.4023 45.7836V46.948H81.0749C80.9019 46.948 80.7351 47.0098 80.6116 47.1179C80.488 47.226 80.4201 47.3743 80.4201 47.5287V55.6828C80.4201 55.8373 80.4911 55.9855 80.6116 56.0936C80.7351 56.2017 80.9019 56.2635 81.0749 56.2635H81.4023V57.4279C81.4023 57.5052 81.4362 57.5793 81.498 57.6349L82.0571 58.1291V59.4665C82.0571 59.5437 82.0911 59.6178 82.1528 59.6734L82.8076 60.2572C82.8694 60.3097 82.9528 60.3406 83.0393 60.3406H83.6941C83.7806 60.3406 83.864 60.3097 83.9257 60.2572L84.5805 59.6734C84.6423 59.6178 84.6763 59.5437 84.6763 59.4665V58.1291L85.2353 57.6349C85.2971 57.5793 85.3311 57.5052 85.3311 57.4279V56.2635H85.9859V57.4279C85.9859 57.5052 86.0199 57.5793 86.0816 57.6349L86.6407 58.1291V59.4665C86.6407 59.5437 86.6747 59.6178 86.7364 59.6734L87.3912 60.2572C87.453 60.3097 87.5364 60.3406 87.6229 60.3406H88.2777C88.3642 60.3406 88.4476 60.3097 88.5093 60.2572L89.1641 59.6734C89.2259 59.6178 89.2599 59.5437 89.2599 59.4665V58.1291L89.8189 57.6349C89.8807 57.5793 89.9147 57.5052 89.9147 57.4279V56.2635H90.5695V57.4279C90.5695 57.5052 90.6035 57.5793 90.6652 57.6349L91.2243 58.1291V59.4665C91.2243 59.5437 91.2583 59.6178 91.32 59.6734L91.9748 60.2572C92.0366 60.3097 92.12 60.3406 92.2065 60.3406H92.8613C92.9478 60.3406 93.0312 60.3097 93.0929 60.2572L93.7477 59.6734C93.8095 59.6178 93.8435 59.5437 93.8435 59.4665V58.1291L94.4026 57.6349C94.4643 57.5793 94.4983 57.5052 94.4983 57.4279V56.2635H95.1531V57.431ZM97.7723 58.3051V59.3491L97.3121 59.7599H96.926L96.4658 59.3491V58.3051H97.7723ZM98.4271 57.1407V57.3137L97.9669 57.7245H96.2712L95.811 57.3137V57.1407H98.4271ZM98.4271 56.2666V56.5569H95.8079V56.2666H98.4271ZM96.4627 44.9095V43.8655L96.9229 43.4547H97.309L97.7692 43.8655V44.9095H96.4627ZM95.8079 46.0739V45.901L96.2681 45.4902H97.9638L98.424 45.901V46.0739H95.8079ZM91.8791 44.9095V43.8655L92.3393 43.4547H92.7254L93.1856 43.8655V44.9095H91.8791ZM91.2243 46.0739V45.901L91.6845 45.4902H93.3802L93.8404 45.901V46.0739H91.2243ZM87.2986 44.9095V43.8655L87.7588 43.4547H88.1449L88.6051 43.8655V44.9095H87.2986ZM86.6438 46.0739V45.901L87.104 45.4902H88.7997L89.2599 45.901V46.0739H86.6438ZM82.715 44.9095V43.8655L83.1752 43.4547H83.5613L84.0215 43.8655V44.9095H82.715ZM82.0602 46.0739V45.901L82.5204 45.4902H84.2161L84.6763 45.901V46.0739H82.0602ZM82.0602 46.948V46.6577H84.6794V46.948H82.0602ZM86.6438 46.948V46.6577H89.263V46.948H86.6438ZM91.2243 46.948V46.6577H93.8435V46.948H91.2243ZM95.8079 46.948V46.6577H98.4271V46.948H95.8079ZM81.078 47.8221V47.5318H99.4062V47.8221H81.078ZM99.4062 50.7348V52.483H99.0788C98.7267 52.483 98.4024 52.3162 98.2294 52.0475C98.0534 51.7757 98.0534 51.4452 98.2294 51.1734C98.4055 50.9015 98.7298 50.7378 99.0788 50.7378H99.4062V50.7348ZM81.078 52.4799V50.7317H81.4054C81.7575 50.7317 82.0818 50.8985 82.2548 51.1672C82.4308 51.439 82.4308 51.7695 82.2548 52.0413C82.0787 52.3131 81.7544 52.4768 81.4054 52.4768H81.078V52.4799ZM81.078 54.8118V53.0636H81.4054C81.9891 53.0636 82.5296 52.7857 82.8231 52.3347C83.1165 51.8838 83.1165 51.3278 82.8231 50.8799C82.5296 50.429 81.9891 50.151 81.4054 50.151H81.078V48.4028H99.4062V50.151H99.0788C98.4951 50.151 97.9545 50.429 97.6611 50.8799C97.3677 51.3309 97.3677 51.8868 97.6611 52.3347C97.9545 52.7857 98.4951 53.0636 99.0788 53.0636H99.4062V54.8118H81.078ZM89.5935 55.6828H81.078V55.3925H99.4062V55.6828H89.5935ZM84.0246 58.3051V59.3491L83.5644 59.7599H83.1783L82.7181 59.3491V58.3051H84.0246ZM84.6794 57.1407V57.3137L84.2192 57.7245H82.5235L82.0633 57.3137V57.1407H84.6794ZM84.6794 56.5569H82.0602V56.2666H84.6794V56.5569ZM88.6082 58.3051V59.3491L88.148 59.7599H87.7619L87.3017 59.3491V58.3051H88.6082ZM89.263 57.1407V57.3137L88.8028 57.7245H87.1071L86.6469 57.3137V57.1407H89.263ZM89.263 56.5569H86.6438V56.2666H89.263V56.5569ZM93.1887 58.3051V59.3491L92.7285 59.7599H92.3424L91.8822 59.3491V58.3051H93.1887ZM93.8435 57.1407V57.3137L93.3833 57.7245H91.6876L91.2274 57.3137V57.1407H93.8435ZM93.8435 56.5569H91.2243V56.2666H93.8435V56.5569Z" fill="#9A9A9A"/>
        <path d="M10.693 8.9232C10.693 7.30164 8.25915 7.30164 8.25915 8.9232C8.25915 10.5448 10.693 10.5448 10.693 8.9232Z" fill="#444444"/>
        <path d="M10.693 12.781C10.693 11.1594 8.25915 11.1594 8.25915 12.781C8.25915 14.4025 10.693 14.4025 10.693 12.781Z" fill="#444444"/>
        <path d="M15.3044 8.9232C15.3044 7.30164 12.8736 7.30164 12.8736 8.9232C12.8736 10.5448 15.3044 10.5448 15.3044 8.9232Z" fill="#444444"/>
        <path d="M15.3044 12.781C15.3044 11.1594 12.8736 11.1594 12.8736 12.781C12.8736 14.4025 15.3044 14.4025 15.3044 12.781Z" fill="#444444"/>
        <path d="M38.3676 8.9232C38.3676 7.30164 35.9338 7.30164 35.9338 8.9232C35.9338 10.5448 38.3676 10.5448 38.3676 8.9232Z" fill="#444444"/>
        <path d="M38.3676 12.781C38.3676 11.1594 35.9338 11.1594 35.9338 12.781C35.9338 14.4025 38.3676 14.4025 38.3676 12.781Z" fill="#444444"/>
        <path d="M33.8971 8.86314C33.8971 7.24158 31.4633 7.24158 31.4633 8.86314C31.4633 10.4847 33.8971 10.4847 33.8971 8.86314Z" fill="#444444"/>
        <path d="M33.8971 12.7209C33.8971 11.0994 31.4633 11.0994 31.4633 12.7209C31.4633 14.3425 33.8971 14.3425 33.8971 12.7209Z" fill="#444444"/>
        <path d="M42.9821 8.9232C42.9821 7.30164 40.5483 7.30164 40.5483 8.9232C40.5483 10.5448 42.9821 10.5448 42.9821 8.9232Z" fill="#444444"/>
        <path d="M42.9821 12.781C42.9821 11.1594 40.5483 11.1594 40.5483 12.781C40.5483 14.4025 42.9821 14.4025 42.9821 12.781Z" fill="#444444"/>
        <path d="M47.5935 8.9232C47.5935 7.30164 45.1628 7.30164 45.1628 8.9232C45.1628 10.5448 47.5935 10.5448 47.5935 8.9232Z" fill="#444444"/>
        <path d="M47.5935 12.781C47.5935 11.1594 45.1628 11.1594 45.1628 12.781C45.1628 14.4025 47.5935 14.4025 47.5935 12.781Z" fill="#444444"/>
        <path d="M52.2049 8.9232C52.2049 7.30164 49.7742 7.30164 49.7742 8.9232C49.7742 10.5448 52.2049 10.5448 52.2049 8.9232Z" fill="#444444"/>
        <path d="M52.2049 12.781C52.2049 11.1594 49.7742 11.1594 49.7742 12.781C49.7742 14.4025 52.2049 14.4025 52.2049 12.781Z" fill="#444444"/>
        <path d="M56.8194 8.9232C56.8194 7.30164 54.3856 7.30164 54.3856 8.9232C54.3856 10.5448 56.8194 10.5448 56.8194 8.9232Z" fill="#444444"/>
        <path d="M56.8194 12.781C56.8194 11.1594 54.3856 11.1594 54.3856 12.781C54.3856 14.4025 56.8194 14.4025 56.8194 12.781Z" fill="#444444"/>
        <path d="M66.0423 8.9232C66.0423 7.30164 63.6084 7.30164 63.6084 8.9232C63.6084 10.5448 66.0423 10.5448 66.0423 8.9232Z" fill="#444444"/>
        <path d="M66.0423 12.781C66.0423 11.1594 63.6084 11.1594 63.6084 12.781C63.6084 14.4025 66.0423 14.4025 66.0423 12.781Z" fill="#444444"/>
        <path d="M70.6568 8.9232C70.6568 7.30164 68.2229 7.30164 68.2229 8.9232C68.2229 10.5448 70.6568 10.5448 70.6568 8.9232Z" fill="#444444"/>
        <path d="M70.6568 12.781C70.6568 11.1594 68.2229 11.1594 68.2229 12.781C68.2229 14.4025 70.6568 14.4025 70.6568 12.781Z" fill="#444444"/>
        <path d="M75.2682 8.9232C75.2682 7.30164 72.8343 7.30164 72.8343 8.9232C72.8343 10.5448 75.2682 10.5448 75.2682 8.9232Z" fill="#444444"/>
        <path d="M75.2682 12.781C75.2682 11.1594 72.8343 11.1594 72.8343 12.781C72.8343 14.4025 75.2682 14.4025 75.2682 12.781Z" fill="#444444"/>
        <path d="M79.8796 8.9232C79.8796 7.30164 77.4488 7.30164 77.4488 8.9232C77.4488 10.5448 79.8796 10.5448 79.8796 8.9232Z" fill="#444444"/>
        <path d="M79.8796 12.781C79.8796 11.1594 77.4488 11.1594 77.4488 12.781C77.4488 14.4025 79.8796 14.4025 79.8796 12.781Z" fill="#444444"/>
        <path d="M93.72 8.9232C93.72 7.30164 91.2892 7.30164 91.2892 8.9232C91.2892 10.5448 93.72 10.5448 93.72 8.9232Z" fill="#444444"/>
        <path d="M93.72 12.781C93.72 11.1594 91.2892 11.1594 91.2892 12.781C91.2892 14.4025 93.72 14.4025 93.72 12.781Z" fill="#444444"/>
        <path d="M98.3314 8.9232C98.3314 7.30164 95.8975 7.30164 95.8975 8.9232C95.8975 10.5448 98.3314 10.5448 98.3314 8.9232Z" fill="#444444"/>
        <path d="M98.3314 12.781C98.3314 11.1594 95.8975 11.1594 95.8975 12.781C95.8975 14.4025 98.3314 14.4025 98.3314 12.781Z" fill="#444444"/>
        <path d="M102.943 8.9232C102.943 7.30164 100.509 7.30164 100.509 8.9232C100.509 10.5448 102.943 10.5448 102.943 8.9232Z" fill="#444444"/>
        <path d="M102.943 12.781C102.943 11.1594 100.509 11.1594 100.509 12.781C100.509 14.4025 102.943 14.4025 102.943 12.781Z" fill="#444444"/>
        <path d="M107.557 8.9232C107.557 7.30164 105.123 7.30164 105.123 8.9232C105.123 10.5448 107.557 10.5448 107.557 8.9232Z" fill="#444444"/>
        <path d="M107.557 12.781C107.557 11.1594 105.123 11.1594 105.123 12.781C105.123 14.4025 107.557 14.4025 107.557 12.781Z" fill="#444444"/>
        <path d="M112.169 8.9232C112.169 7.30164 109.738 7.30164 109.738 8.9232C109.738 10.5448 112.169 10.5448 112.169 8.9232Z" fill="#444444"/>
        <path d="M112.169 12.781C112.169 11.1594 109.738 11.1594 109.738 12.781C109.738 14.4025 112.169 14.4025 112.169 12.781Z" fill="#444444"/>
        <path d="M121.395 8.9232C121.395 7.30164 118.961 7.30164 118.961 8.9232C118.961 10.5448 121.395 10.5448 121.395 8.9232Z" fill="#444444"/>
        <path d="M121.395 12.781C121.395 11.1594 118.961 11.1594 118.961 12.781C118.961 14.4025 121.395 14.4025 121.395 12.781Z" fill="#444444"/>
        <path d="M126.006 8.9232C126.006 7.30164 123.575 7.30164 123.575 8.9232C123.575 10.5448 126.006 10.5448 126.006 8.9232Z" fill="#444444"/>
        <path d="M126.006 12.781C126.006 11.1594 123.575 11.1594 123.575 12.781C123.575 14.4025 126.006 14.4025 126.006 12.781Z" fill="#444444"/>
        <path d="M130.617 8.9232C130.617 7.30164 128.187 7.30164 128.187 8.9232C128.187 10.5448 130.617 10.5448 130.617 8.9232Z" fill="#444444"/>
        <path d="M130.617 12.781C130.617 11.1594 128.187 11.1594 128.187 12.781C128.187 14.4025 130.617 14.4025 130.617 12.781Z" fill="#444444"/>
        <path d="M135.232 8.9232C135.232 7.30164 132.798 7.30164 132.798 8.9232C132.798 10.5448 135.232 10.5448 135.232 8.9232Z" fill="#444444"/>
        <path d="M135.232 12.781C135.232 11.1594 132.798 11.1594 132.798 12.781C132.798 14.4025 135.232 14.4025 135.232 12.781Z" fill="#444444"/>
        <path d="M139.843 8.9232C139.843 7.30164 137.409 7.30164 137.409 8.9232C137.409 10.5448 139.843 10.5448 139.843 8.9232Z" fill="#444444"/>
        <path d="M139.843 12.781C139.843 11.1594 137.409 11.1594 137.409 12.781C137.409 14.4025 139.843 14.4025 139.843 12.781Z" fill="#444444"/>
        <path d="M10.693 40.2301C10.693 38.6085 8.25915 38.6085 8.25915 40.2301C8.25915 41.8516 10.693 41.8516 10.693 40.2301Z" fill="#444444"/>
        <path d="M10.693 44.088C10.693 42.4664 8.25915 42.4664 8.25915 44.088C8.25915 45.7096 10.693 45.7096 10.693 44.088Z" fill="#444444"/>
        <path d="M15.3044 40.2301C15.3044 38.6085 12.8736 38.6085 12.8736 40.2301C12.8736 41.8516 15.3044 41.8516 15.3044 40.2301Z" fill="#444444"/>
        <path d="M15.3044 44.088C15.3044 42.4664 12.8736 42.4664 12.8736 44.088C12.8736 45.7096 15.3044 45.7096 15.3044 44.088Z" fill="#444444"/>
        <path d="M19.7274 44.088C19.7274 42.4664 17.2966 42.4664 17.2966 44.088C17.2966 45.7096 19.7274 45.7096 19.7274 44.088Z" fill="#444444"/>
        <path d="M24.5303 44.088C24.5303 42.4664 22.0965 42.4664 22.0965 44.088C22.0965 45.7096 24.5303 45.7096 24.5303 44.088Z" fill="#444444"/>
        <path d="M29.1448 44.088C29.1448 42.4664 26.7109 42.4664 26.7109 44.088C26.7109 45.7096 29.1448 45.7096 29.1448 44.088Z" fill="#444444"/>
        <path d="M33.7562 40.2301C33.7562 38.6085 31.3224 38.6085 31.3224 40.2301C31.3224 41.8516 33.7562 41.8516 33.7562 40.2301Z" fill="#444444"/>
        <path d="M33.7562 44.088C33.7562 42.4664 31.3224 42.4664 31.3224 44.088C31.3224 45.7096 33.7562 45.7096 33.7562 44.088Z" fill="#444444"/>
        <path d="M38.3676 40.2301C38.3676 38.6085 35.9338 38.6085 35.9338 40.2301C35.9368 41.8516 38.3676 41.8516 38.3676 40.2301Z" fill="#444444"/>
        <path d="M38.3676 44.088C38.3676 42.4664 35.9338 42.4664 35.9338 44.088C35.9368 45.7096 38.3676 45.7096 38.3676 44.088Z" fill="#444444"/>
        <path d="M42.9821 40.2301C42.9821 38.6085 40.5483 38.6085 40.5483 40.2301C40.5513 41.8516 42.9821 41.8516 42.9821 40.2301Z" fill="#444444"/>
        <path d="M42.9821 44.088C42.9821 42.4664 40.5483 42.4664 40.5483 44.088C40.5513 45.7096 42.9821 45.7096 42.9821 44.088Z" fill="#444444"/>
        <path d="M47.5935 40.2301C47.5935 38.6085 45.1628 38.6085 45.1628 40.2301C45.1628 41.8516 47.5935 41.8516 47.5935 40.2301Z" fill="#444444"/>
        <path d="M47.5935 44.088C47.5935 42.4664 45.1628 42.4664 45.1628 44.088C45.1628 45.7096 47.5935 45.7096 47.5935 44.088Z" fill="#444444"/>
        <path d="M52.2049 40.2301C52.2049 38.6085 49.7742 38.6085 49.7742 40.2301C49.7742 41.8516 52.2049 41.8516 52.2049 40.2301Z" fill="#444444"/>
        <path d="M56.8194 40.2301C56.8194 38.6085 54.3856 38.6085 54.3856 40.2301C54.3886 41.8516 56.8194 41.8516 56.8194 40.2301Z" fill="#444444"/>
        <path d="M61.4309 40.2301C61.4309 38.6085 59.0001 38.6085 59.0001 40.2301C59.0001 41.8516 61.4309 41.8516 61.4309 40.2301Z" fill="#444444"/>
        <path d="M66.0423 40.2301C66.0423 38.6085 63.6084 38.6085 63.6084 40.2301C63.6115 41.8516 66.0423 41.8516 66.0423 40.2301Z" fill="#444444"/>
        <path d="M70.6568 40.2301C70.6568 38.6085 68.2229 38.6085 68.2229 40.2301C68.226 41.8516 70.6568 41.8516 70.6568 40.2301Z" fill="#444444"/>
        <path d="M70.6568 44.088C70.6568 42.4664 68.2229 42.4664 68.2229 44.088C68.226 45.7096 70.6568 45.7096 70.6568 44.088Z" fill="#444444"/>
        <path d="M75.2682 40.2301C75.2682 38.6085 72.8343 38.6085 72.8343 40.2301C72.8374 41.8516 75.2682 41.8516 75.2682 40.2301Z" fill="#444444"/>
        <path d="M75.2682 44.088C75.2682 42.4664 72.8343 42.4664 72.8343 44.088C72.8374 45.7096 75.2682 45.7096 75.2682 44.088Z" fill="#444444"/>
        <path d="M79.8796 40.2301C79.8796 38.6085 77.4488 38.6085 77.4488 40.2301C77.4488 41.8516 79.8796 41.8516 79.8796 40.2301Z" fill="#444444"/>
        <path d="M79.8796 44.088C79.8796 42.4664 77.4488 42.4664 77.4488 44.088C77.4488 45.7096 79.8796 45.7096 79.8796 44.088Z" fill="#444444"/>
        <path d="M84.491 40.2301C84.491 38.6085 82.0602 38.6085 82.0602 40.2301C82.0602 41.8516 84.491 41.8516 84.491 40.2301Z" fill="#444444"/>
        <path d="M89.1055 40.2301C89.1055 38.6085 86.6716 38.6085 86.6716 40.2301C86.6716 41.8516 89.1055 41.8516 89.1055 40.2301Z" fill="#444444"/>
        <path d="M93.72 40.2301C93.72 38.6085 91.2892 38.6085 91.2892 40.2301C91.2892 41.8516 93.72 41.8516 93.72 40.2301Z" fill="#444444"/>
        <path d="M98.3314 40.2301C98.3314 38.6085 95.8975 38.6085 95.8975 40.2301C95.8975 41.8516 98.3314 41.8516 98.3314 40.2301Z" fill="#444444"/>
        <path d="M102.943 40.2301C102.943 38.6085 100.509 38.6085 100.509 40.2301C100.512 41.8516 102.943 41.8516 102.943 40.2301Z" fill="#444444"/>
        <path d="M102.943 44.088C102.943 42.4664 100.509 42.4664 100.509 44.088C100.512 45.7096 102.943 45.7096 102.943 44.088Z" fill="#444444"/>
        <path d="M107.557 40.2301C107.557 38.6085 105.123 38.6085 105.123 40.2301C105.126 41.8516 107.557 41.8516 107.557 40.2301Z" fill="#444444"/>
        <path d="M107.557 44.088C107.557 42.4664 105.123 42.4664 105.123 44.088C105.126 45.7096 107.557 45.7096 107.557 44.088Z" fill="#444444"/>
        <path d="M112.169 40.2301C112.169 38.6085 109.738 38.6085 109.738 40.2301C109.738 41.8516 112.169 41.8516 112.169 40.2301Z" fill="#444444"/>
        <path d="M112.169 44.088C112.169 42.4664 109.738 42.4664 109.738 44.088C109.738 45.7096 112.169 45.7096 112.169 44.088Z" fill="#444444"/>
        <path d="M116.78 40.2301C116.78 38.6085 114.349 38.6085 114.349 40.2301C114.349 41.8516 116.78 41.8516 116.78 40.2301Z" fill="#444444"/>
        <path d="M116.78 44.088C116.78 42.4664 114.349 42.4664 114.349 44.088C114.349 45.7096 116.78 45.7096 116.78 44.088Z" fill="#444444"/>
        <path d="M121.395 40.2301C121.395 38.6085 118.961 38.6085 118.961 40.2301C118.964 41.8516 121.395 41.8516 121.395 40.2301Z" fill="#444444"/>
        <path d="M121.395 44.088C121.395 42.4664 118.961 42.4664 118.961 44.088C118.964 45.7096 121.395 45.7096 121.395 44.088Z" fill="#444444"/>
        <path d="M126.006 40.2301C126.006 38.6085 123.575 38.6085 123.575 40.2301C123.575 41.8516 126.006 41.8516 126.006 40.2301Z" fill="#444444"/>
        <path d="M126.006 44.088C126.006 42.4664 123.575 42.4664 123.575 44.088C123.575 45.7096 126.006 45.7096 126.006 44.088Z" fill="#444444"/>
        <path d="M130.617 40.2301C130.617 38.6085 128.187 38.6085 128.187 40.2301C128.187 41.8516 130.617 41.8516 130.617 40.2301Z" fill="#444444"/>
        <path d="M130.617 44.088C130.617 42.4664 128.187 42.4664 128.187 44.088C128.187 45.7096 130.617 45.7096 130.617 44.088Z" fill="#444444"/>
        <path d="M135.232 40.2301C135.232 38.6085 132.798 38.6085 132.798 40.2301C132.801 41.8516 135.232 41.8516 135.232 40.2301Z" fill="#444444"/>
        <path d="M135.232 44.088C135.232 42.4664 132.798 42.4664 132.798 44.088C132.801 45.7096 135.232 45.7096 135.232 44.088Z" fill="#444444"/>
        <path d="M139.843 40.2301C139.843 38.6085 137.409 38.6085 137.409 40.2301C137.413 41.8516 139.843 41.8516 139.843 40.2301Z" fill="#444444"/>
        <path d="M139.843 44.088C139.843 42.4664 137.409 42.4664 137.409 44.088C137.413 45.7096 139.843 45.7096 139.843 44.088Z" fill="#444444"/>
        <path d="M10.693 32.3663C10.693 30.7448 8.25915 30.7448 8.25915 32.3663C8.25915 33.9879 10.693 33.9879 10.693 32.3663Z" fill="#444444"/>
        <path d="M10.693 36.2211C10.693 34.5995 8.25915 34.5995 8.25915 36.2211C8.25915 37.8426 10.693 37.8426 10.693 36.2211Z" fill="#444444"/>
        <path d="M15.3044 32.3663C15.3044 30.7448 12.8736 30.7448 12.8736 32.3663C12.8736 33.9879 15.3044 33.9879 15.3044 32.3663Z" fill="#444444"/>
        <path d="M15.3044 36.2211C15.3044 34.5995 12.8736 34.5995 12.8736 36.2211C12.8736 37.8426 15.3044 37.8426 15.3044 36.2211Z" fill="#444444"/>
        <path d="M33.7562 32.3663C33.7562 30.7448 31.3224 30.7448 31.3224 32.3663C31.3224 33.9879 33.7562 33.9879 33.7562 32.3663Z" fill="#444444"/>
        <path d="M33.7562 36.2211C33.7562 34.5995 31.3224 34.5995 31.3224 36.2211C31.3224 37.8426 33.7562 37.8426 33.7562 36.2211Z" fill="#444444"/>
        <path d="M38.3676 32.3663C38.3676 30.7448 35.9338 30.7448 35.9338 32.3663C35.9368 33.9879 38.3676 33.9879 38.3676 32.3663Z" fill="#444444"/>
        <path d="M38.3676 36.2211C38.3676 34.5995 35.9338 34.5995 35.9338 36.2211C35.9338 37.8426 38.3676 37.8426 38.3676 36.2211Z" fill="#444444"/>
        <path d="M42.9821 32.3663C42.9821 30.7448 40.5483 30.7448 40.5483 32.3663C40.5513 33.9879 42.9821 33.9879 42.9821 32.3663Z" fill="#444444"/>
        <path d="M42.9821 36.2211C42.9821 34.5995 40.5483 34.5995 40.5483 36.2211C40.5483 37.8426 42.9821 37.8426 42.9821 36.2211Z" fill="#444444"/>
        <path d="M47.5935 32.3663C47.5935 30.7448 45.1628 30.7448 45.1628 32.3663C45.1628 33.9879 47.5935 33.9879 47.5935 32.3663Z" fill="#444444"/>
        <path d="M47.5935 36.2211C47.5935 34.5995 45.1628 34.5995 45.1628 36.2211C45.1628 37.8426 47.5935 37.8426 47.5935 36.2211Z" fill="#444444"/>
        <path d="M52.2049 32.3663C52.2049 30.7448 49.7742 30.7448 49.7742 32.3663C49.7742 33.9879 52.2049 33.9879 52.2049 32.3663Z" fill="#444444"/>
        <path d="M52.2049 36.2211C52.2049 34.5995 49.7742 34.5995 49.7742 36.2211C49.7742 37.8426 52.2049 37.8426 52.2049 36.2211Z" fill="#444444"/>
        <path d="M56.8194 32.3663C56.8194 30.7448 54.3856 30.7448 54.3856 32.3663C54.3886 33.9879 56.8194 33.9879 56.8194 32.3663Z" fill="#444444"/>
        <path d="M56.8194 36.2211C56.8194 34.5995 54.3856 34.5995 54.3856 36.2211C54.3856 37.8426 56.8194 37.8426 56.8194 36.2211Z" fill="#444444"/>
        <path d="M61.4309 32.3663C61.4309 30.7448 59.0001 30.7448 59.0001 32.3663C59.0001 33.9879 61.4309 33.9879 61.4309 32.3663Z" fill="#444444"/>
        <path d="M61.4309 36.2211C61.4309 34.5995 59.0001 34.5995 59.0001 36.2211C59.0001 37.8426 61.4309 37.8426 61.4309 36.2211Z" fill="#444444"/>
        <path d="M66.0423 32.3663C66.0423 30.7448 63.6084 30.7448 63.6084 32.3663C63.6115 33.9879 66.0423 33.9879 66.0423 32.3663Z" fill="#444444"/>
        <path d="M66.0423 36.2211C66.0423 34.5995 63.6084 34.5995 63.6084 36.2211C63.6084 37.8426 66.0423 37.8426 66.0423 36.2211Z" fill="#444444"/>
        <path d="M70.6568 32.3663C70.6568 30.7448 68.2229 30.7448 68.2229 32.3663C68.226 33.9879 70.6568 33.9879 70.6568 32.3663Z" fill="#444444"/>
        <path d="M70.6568 36.2211C70.6568 34.5995 68.2229 34.5995 68.2229 36.2211C68.2229 37.8426 70.6568 37.8426 70.6568 36.2211Z" fill="#444444"/>
        <path d="M75.2682 32.3663C75.2682 30.7448 72.8343 30.7448 72.8343 32.3663C72.8374 33.9879 75.2682 33.9879 75.2682 32.3663Z" fill="#444444"/>
        <path d="M75.2682 36.2211C75.2682 34.5995 72.8343 34.5995 72.8343 36.2211C72.8343 37.8426 75.2682 37.8426 75.2682 36.2211Z" fill="#444444"/>
        <path d="M79.8796 32.3663C79.8796 30.7448 77.4488 30.7448 77.4488 32.3663C77.4488 33.9879 79.8796 33.9879 79.8796 32.3663Z" fill="#444444"/>
        <path d="M79.8796 36.2211C79.8796 34.5995 77.4488 34.5995 77.4488 36.2211C77.4488 37.8426 79.8796 37.8426 79.8796 36.2211Z" fill="#444444"/>
        <path d="M84.491 36.2211C84.491 34.5995 82.0602 34.5995 82.0602 36.2211C82.0602 37.8426 84.491 37.8426 84.491 36.2211Z" fill="#444444"/>
        <path d="M89.1055 36.2211C89.1055 34.5995 86.6716 34.5995 86.6716 36.2211C86.6716 37.8426 89.1055 37.8426 89.1055 36.2211Z" fill="#444444"/>
        <path d="M93.72 32.3663C93.72 30.7448 91.2892 30.7448 91.2892 32.3663C91.2892 33.9879 93.72 33.9879 93.72 32.3663Z" fill="#444444"/>
        <path d="M93.72 36.2211C93.72 34.5995 91.2892 34.5995 91.2892 36.2211C91.2892 37.8426 93.72 37.8426 93.72 36.2211Z" fill="#444444"/>
        <path d="M98.3314 32.3663C98.3314 30.7448 95.8975 30.7448 95.8975 32.3663C95.8975 33.9879 98.3314 33.9879 98.3314 32.3663Z" fill="#444444"/>
        <path d="M98.3314 36.2211C98.3314 34.5995 95.8975 34.5995 95.8975 36.2211C95.8975 37.8426 98.3314 37.8426 98.3314 36.2211Z" fill="#444444"/>
        <path d="M102.943 32.3663C102.943 30.7448 100.509 30.7448 100.509 32.3663C100.512 33.9879 102.943 33.9879 102.943 32.3663Z" fill="#444444"/>
        <path d="M102.943 36.2211C102.943 34.5995 100.509 34.5995 100.509 36.2211C100.509 37.8426 102.943 37.8426 102.943 36.2211Z" fill="#444444"/>
        <path d="M107.557 32.3663C107.557 30.7448 105.123 30.7448 105.123 32.3663C105.126 33.9879 107.557 33.9879 107.557 32.3663Z" fill="#444444"/>
        <path d="M107.557 36.2211C107.557 34.5995 105.123 34.5995 105.123 36.2211C105.123 37.8426 107.557 37.8426 107.557 36.2211Z" fill="#444444"/>
        <path d="M112.169 36.2211C112.169 34.5995 109.738 34.5995 109.738 36.2211C109.738 37.8426 112.169 37.8426 112.169 36.2211Z" fill="#444444"/>
        <path d="M116.78 36.2211C116.78 34.5995 114.349 34.5995 114.349 36.2211C114.349 37.8426 116.78 37.8426 116.78 36.2211Z" fill="#444444"/>
        <path d="M121.395 36.2211C121.395 34.5995 118.961 34.5995 118.961 36.2211C118.961 37.8426 121.395 37.8426 121.395 36.2211Z" fill="#444444"/>
        <path d="M126.006 36.2211C126.006 34.5995 123.575 34.5995 123.575 36.2211C123.575 37.8426 126.006 37.8426 126.006 36.2211Z" fill="#444444"/>
        <path d="M130.617 32.3663C130.617 30.7448 128.187 30.7448 128.187 32.3663C128.187 33.9879 130.617 33.9879 130.617 32.3663Z" fill="#444444"/>
        <path d="M130.617 36.2211C130.617 34.5995 128.187 34.5995 128.187 36.2211C128.187 37.8426 130.617 37.8426 130.617 36.2211Z" fill="#444444"/>
        <path d="M135.232 32.3663C135.232 30.7448 132.798 30.7448 132.798 32.3663C132.801 33.9879 135.232 33.9879 135.232 32.3663Z" fill="#444444"/>
        <path d="M135.232 36.2211C135.232 34.5995 132.798 34.5995 132.798 36.2211C132.798 37.8426 135.232 37.8426 135.232 36.2211Z" fill="#444444"/>
        <path d="M139.843 32.3663C139.843 30.7448 137.409 30.7448 137.409 32.3663C137.413 33.9879 139.843 33.9879 139.843 32.3663Z" fill="#444444"/>
        <path d="M139.843 36.2211C139.843 34.5995 137.409 34.5995 137.409 36.2211C137.409 37.8426 139.843 37.8426 139.843 36.2211Z" fill="#444444"/>
        <path d="M10.693 28.3572C10.693 26.7356 8.25915 26.7356 8.25915 28.3572C8.25915 29.9787 10.693 29.9787 10.693 28.3572Z" fill="#444444"/>
        <path d="M15.3044 28.3572C15.3044 26.7356 12.8736 26.7356 12.8736 28.3572C12.8736 29.9787 15.3044 29.9787 15.3044 28.3572Z" fill="#444444"/>
        <path d="M33.7562 28.3572C33.7562 26.7356 31.3224 26.7356 31.3224 28.3572C31.3224 29.9787 33.7562 29.9787 33.7562 28.3572Z" fill="#444444"/>
        <path d="M38.3676 28.3572C38.3676 26.7356 35.9338 26.7356 35.9338 28.3572C35.9368 29.9787 38.3676 29.9787 38.3676 28.3572Z" fill="#444444"/>
        <path d="M42.9821 28.3572C42.9821 26.7356 40.5483 26.7356 40.5483 28.3572C40.5513 29.9787 42.9821 29.9787 42.9821 28.3572Z" fill="#444444"/>
        <path d="M47.5935 28.3572C47.5935 26.7356 45.1628 26.7356 45.1628 28.3572C45.1628 29.9787 47.5935 29.9787 47.5935 28.3572Z" fill="#444444"/>
        <path d="M52.2049 28.3572C52.2049 26.7356 49.7742 26.7356 49.7742 28.3572C49.7742 29.9787 52.2049 29.9787 52.2049 28.3572Z" fill="#444444"/>
        <path d="M56.8194 28.3572C56.8194 26.7356 54.3856 26.7356 54.3856 28.3572C54.3886 29.9787 56.8194 29.9787 56.8194 28.3572Z" fill="#444444"/>
        <path d="M61.4309 28.3572C61.4309 26.7356 59.0001 26.7356 59.0001 28.3572C59.0001 29.9787 61.4309 29.9787 61.4309 28.3572Z" fill="#444444"/>
        <path d="M66.0423 28.3572C66.0423 26.7356 63.6084 26.7356 63.6084 28.3572C63.6115 29.9787 66.0423 29.9787 66.0423 28.3572Z" fill="#444444"/>
        <path d="M70.6568 28.3572C70.6568 26.7356 68.2229 26.7356 68.2229 28.3572C68.226 29.9787 70.6568 29.9787 70.6568 28.3572Z" fill="#444444"/>
        <path d="M75.2682 28.3572C75.2682 26.7356 72.8343 26.7356 72.8343 28.3572C72.8374 29.9787 75.2682 29.9787 75.2682 28.3572Z" fill="#444444"/>
        <path d="M79.8796 28.3572C79.8796 26.7356 77.4488 26.7356 77.4488 28.3572C77.4488 29.9787 79.8796 29.9787 79.8796 28.3572Z" fill="#444444"/>
        <path d="M93.72 28.3572C93.72 26.7356 91.2892 26.7356 91.2892 28.3572C91.2892 29.9787 93.72 29.9787 93.72 28.3572Z" fill="#444444"/>
        <path d="M98.3314 28.3572C98.3314 26.7356 95.8975 26.7356 95.8975 28.3572C95.8975 29.9787 98.3314 29.9787 98.3314 28.3572Z" fill="#444444"/>
        <path d="M102.943 28.3572C102.943 26.7356 100.509 26.7356 100.509 28.3572C100.512 29.9787 102.943 29.9787 102.943 28.3572Z" fill="#444444"/>
        <path d="M107.557 28.3572C107.557 26.7356 105.123 26.7356 105.123 28.3572C105.126 29.9787 107.557 29.9787 107.557 28.3572Z" fill="#444444"/>
        <path d="M130.617 28.3572C130.617 26.7356 128.187 26.7356 128.187 28.3572C128.187 29.9787 130.617 29.9787 130.617 28.3572Z" fill="#444444"/>
        <path d="M135.232 28.3572C135.232 26.7356 132.798 26.7356 132.798 28.3572C132.801 29.9787 135.232 29.9787 135.232 28.3572Z" fill="#444444"/>
        <path d="M139.843 28.3572C139.843 26.7356 137.409 26.7356 137.409 28.3572C137.413 29.9787 139.843 29.9787 139.843 28.3572Z" fill="#444444"/>
        <path d="M10.693 94.2883C10.693 92.6668 8.25915 92.6668 8.25915 94.2883C8.25915 95.9099 10.693 95.9099 10.693 94.2883Z" fill="#444444"/>
        <path d="M10.693 90.4305C10.693 88.809 8.25915 88.809 8.25915 90.4305C8.25915 92.0521 10.693 92.0521 10.693 90.4305Z" fill="#444444"/>
        <path d="M12.8736 94.2883C12.8736 95.9099 15.3044 95.9099 15.3044 94.2883C15.3044 92.6668 12.8736 92.6668 12.8736 94.2883Z" fill="#444444"/>
        <path d="M12.8736 90.4305C12.8736 92.0521 15.3044 92.0521 15.3044 90.4305C15.3044 88.809 12.8736 88.809 12.8736 90.4305Z" fill="#444444"/>
        <path d="M17.485 94.2883C17.485 95.9099 19.9158 95.9099 19.9158 94.2883C19.9158 92.6668 17.485 92.6668 17.485 94.2883Z" fill="#444444"/>
        <path d="M17.485 90.4305C17.485 92.0521 19.9158 92.0521 19.9158 90.4305C19.9158 88.809 17.485 88.809 17.485 90.4305Z" fill="#444444"/>
        <path d="M22.0965 94.2883C22.0965 95.9099 24.5303 95.9099 24.5303 94.2883C24.5303 92.6668 22.0965 92.6668 22.0965 94.2883Z" fill="#444444"/>
        <path d="M22.0965 90.4305C22.0965 92.0521 24.5303 92.0521 24.5303 90.4305C24.5303 88.809 22.0965 88.809 22.0965 90.4305Z" fill="#444444"/>
        <path d="M26.7109 94.2883C26.7109 95.9099 29.1448 95.9099 29.1448 94.2883C29.1448 92.6668 26.7109 92.6668 26.7109 94.2883Z" fill="#444444"/>
        <path d="M26.7109 90.4305C26.7109 92.0521 29.1448 92.0521 29.1448 90.4305C29.1448 88.809 26.7109 88.809 26.7109 90.4305Z" fill="#444444"/>
        <path d="M38.3676 94.2883C38.3676 92.6668 35.9338 92.6668 35.9338 94.2883C35.9368 95.9099 38.3676 95.9099 38.3676 94.2883Z" fill="#444444"/>
        <path d="M38.3676 90.4305C38.3676 88.809 35.9338 88.809 35.9338 90.4305C35.9368 92.0521 38.3676 92.0521 38.3676 90.4305Z" fill="#444444"/>
        <path d="M40.5513 94.2883C40.5513 95.9099 42.9852 95.9099 42.9852 94.2883C42.9821 92.6668 40.5513 92.6668 40.5513 94.2883Z" fill="#444444"/>
        <path d="M40.5513 90.4305C40.5513 92.0521 42.9852 92.0521 42.9852 90.4305C42.9821 88.809 40.5513 88.809 40.5513 90.4305Z" fill="#444444"/>
        <path d="M45.1628 94.2883C45.1628 95.9099 47.5935 95.9099 47.5935 94.2883C47.5935 92.6668 45.1628 92.6668 45.1628 94.2883Z" fill="#444444"/>
        <path d="M45.1628 90.4305C45.1628 92.0521 47.5935 92.0521 47.5935 90.4305C47.5935 88.809 45.1628 88.809 45.1628 90.4305Z" fill="#444444"/>
        <path d="M49.7742 94.2883C49.7742 95.9099 52.2049 95.9099 52.2049 94.2883C52.2049 92.6668 49.7742 92.6668 49.7742 94.2883Z" fill="#444444"/>
        <path d="M49.7742 90.4305C49.7742 92.0521 52.2049 92.0521 52.2049 90.4305C52.2049 88.809 49.7742 88.809 49.7742 90.4305Z" fill="#444444"/>
        <path d="M56.8194 94.2883C56.8194 92.6668 54.3856 92.6668 54.3856 94.2883C54.3886 95.9099 56.8194 95.9099 56.8194 94.2883Z" fill="#444444"/>
        <path d="M56.8194 90.4305C56.8194 88.809 54.3856 88.809 54.3856 90.4305C54.3886 92.0521 56.8194 92.0521 56.8194 90.4305Z" fill="#444444"/>
        <path d="M66.0423 94.2883C66.0423 92.6668 63.6084 92.6668 63.6084 94.2883C63.6115 95.9099 66.0423 95.9099 66.0423 94.2883Z" fill="#444444"/>
        <path d="M66.0423 90.4305C66.0423 88.809 63.6084 88.809 63.6084 90.4305C63.6115 92.0521 66.0423 92.0521 66.0423 90.4305Z" fill="#444444"/>
        <path d="M68.226 94.2883C68.226 95.9099 70.6598 95.9099 70.6598 94.2883C70.6568 92.6668 68.226 92.6668 68.226 94.2883Z" fill="#444444"/>
        <path d="M68.226 90.4305C68.226 92.0521 70.6598 92.0521 70.6598 90.4305C70.6568 88.809 68.226 88.809 68.226 90.4305Z" fill="#444444"/>
        <path d="M72.8374 94.2883C72.8374 95.9099 75.2713 95.9099 75.2713 94.2883C75.2682 92.6668 72.8374 92.6668 72.8374 94.2883Z" fill="#444444"/>
        <path d="M72.8374 90.4305C72.8374 92.0521 75.2713 92.0521 75.2713 90.4305C75.2682 88.809 72.8374 88.809 72.8374 90.4305Z" fill="#444444"/>
        <path d="M77.4488 94.2883C77.4488 95.9099 79.8796 95.9099 79.8796 94.2883C79.8796 92.6668 77.4488 92.6668 77.4488 94.2883Z" fill="#444444"/>
        <path d="M77.4488 90.4305C77.4488 92.0521 79.8796 92.0521 79.8796 90.4305C79.8796 88.809 77.4488 88.809 77.4488 90.4305Z" fill="#444444"/>
        <path d="M82.0602 94.2883C82.0602 95.9099 84.491 95.9099 84.491 94.2883C84.491 92.6668 82.0602 92.6668 82.0602 94.2883Z" fill="#444444"/>
        <path d="M82.0602 90.4305C82.0602 92.0521 84.491 92.0521 84.491 90.4305C84.491 88.809 82.0602 88.809 82.0602 90.4305Z" fill="#444444"/>
        <path d="M91.2892 94.2883C91.2892 95.9099 93.72 95.9099 93.72 94.2883C93.72 92.6668 91.2892 92.6668 91.2892 94.2883Z" fill="#444444"/>
        <path d="M91.2892 90.4305C91.2892 92.0521 93.72 92.0521 93.72 90.4305C93.72 88.809 91.2892 88.809 91.2892 90.4305Z" fill="#444444"/>
        <path d="M95.8975 94.2883C95.8975 95.9099 98.3314 95.9099 98.3314 94.2883C98.3314 92.6668 95.8975 92.6668 95.8975 94.2883Z" fill="#444444"/>
        <path d="M95.8975 90.4305C95.8975 92.0521 98.3314 92.0521 98.3314 90.4305C98.3314 88.809 95.8975 88.809 95.8975 90.4305Z" fill="#444444"/>
        <path d="M100.512 94.2883C100.512 95.9099 102.946 95.9099 102.946 94.2883C102.943 92.6668 100.512 92.6668 100.512 94.2883Z" fill="#444444"/>
        <path d="M100.512 90.4305C100.512 92.0521 102.946 92.0521 102.946 90.4305C102.943 88.809 100.512 88.809 100.512 90.4305Z" fill="#444444"/>
        <path d="M105.126 94.2883C105.126 95.9099 107.56 95.9099 107.56 94.2883C107.557 92.6668 105.126 92.6668 105.126 94.2883Z" fill="#444444"/>
        <path d="M105.126 90.4305C105.126 92.0521 107.56 92.0521 107.56 90.4305C107.557 88.809 105.126 88.809 105.126 90.4305Z" fill="#444444"/>
        <path d="M109.738 94.2883C109.738 95.9099 112.169 95.9099 112.169 94.2883C112.169 92.6668 109.738 92.6668 109.738 94.2883Z" fill="#444444"/>
        <path d="M109.738 90.4305C109.738 92.0521 112.169 92.0521 112.169 90.4305C112.169 88.809 109.738 88.809 109.738 90.4305Z" fill="#444444"/>
        <path d="M118.964 94.2883C118.964 95.9099 121.398 95.9099 121.398 94.2883C121.395 92.6668 118.964 92.6668 118.964 94.2883Z" fill="#444444"/>
        <path d="M118.964 90.4305C118.964 92.0521 121.398 92.0521 121.398 90.4305C121.395 88.809 118.964 88.809 118.964 90.4305Z" fill="#444444"/>
        <path d="M126.006 94.2883C126.006 92.6668 123.575 92.6668 123.575 94.2883C123.575 95.9099 126.006 95.9099 126.006 94.2883Z" fill="#444444"/>
        <path d="M126.006 90.4305C126.006 88.809 123.575 88.809 123.575 90.4305C123.575 92.0521 126.006 92.0521 126.006 90.4305Z" fill="#444444"/>
        <path d="M130.617 94.2883C130.617 92.6668 128.187 92.6668 128.187 94.2883C128.187 95.9099 130.617 95.9099 130.617 94.2883Z" fill="#444444"/>
        <path d="M130.617 90.4305C130.617 88.809 128.187 88.809 128.187 90.4305C128.187 92.0521 130.617 92.0521 130.617 90.4305Z" fill="#444444"/>
        <path d="M132.801 94.2883C132.801 95.9099 135.235 95.9099 135.235 94.2883C135.232 92.6668 132.801 92.6668 132.801 94.2883Z" fill="#444444"/>
        <path d="M132.801 90.4305C132.801 92.0521 135.235 92.0521 135.235 90.4305C135.232 88.809 132.801 88.809 132.801 90.4305Z" fill="#444444"/>
        <path d="M137.412 94.2883C137.412 95.9099 139.846 95.9099 139.846 94.2883C139.843 92.6668 137.412 92.6668 137.412 94.2883Z" fill="#444444"/>
        <path d="M137.412 90.4305C137.412 92.0521 139.846 92.0521 139.846 90.4305C139.843 88.809 137.412 88.809 137.412 90.4305Z" fill="#444444"/>
        <path d="M10.693 62.9845C10.693 61.3629 8.25915 61.3629 8.25915 62.9845C8.25915 64.606 10.693 64.606 10.693 62.9845Z" fill="#444444"/>
        <path d="M10.693 59.1267C10.693 57.5051 8.25915 57.5051 8.25915 59.1267C8.25915 60.7483 10.693 60.7483 10.693 59.1267Z" fill="#444444"/>
        <path d="M12.8736 62.9845C12.8736 64.606 15.3044 64.606 15.3044 62.9845C15.3044 61.3629 12.8736 61.3629 12.8736 62.9845Z" fill="#444444"/>
        <path d="M12.8736 59.1267C12.8736 60.7483 15.3044 60.7483 15.3044 59.1267C15.3044 57.5051 12.8736 57.5051 12.8736 59.1267Z" fill="#444444"/>
        <path d="M17.485 62.9845C17.485 64.606 19.9158 64.606 19.9158 62.9845C19.9158 61.3629 17.485 61.3629 17.485 62.9845Z" fill="#444444"/>
        <path d="M17.485 59.1267C17.485 60.7483 19.9158 60.7483 19.9158 59.1267C19.9158 57.5051 17.485 57.5051 17.485 59.1267Z" fill="#444444"/>
        <path d="M22.0965 62.9845C22.0965 64.606 24.5303 64.606 24.5303 62.9845C24.5303 61.3629 22.0965 61.3629 22.0965 62.9845Z" fill="#444444"/>
        <path d="M22.0965 59.1267C22.0965 60.7483 24.5303 60.7483 24.5303 59.1267C24.5303 57.5051 22.0965 57.5051 22.0965 59.1267Z" fill="#444444"/>
        <path d="M26.7109 62.9845C26.7109 64.606 29.1448 64.606 29.1448 62.9845C29.1448 61.3629 26.7109 61.3629 26.7109 62.9845Z" fill="#444444"/>
        <path d="M26.7109 59.1267C26.7109 60.7483 29.1448 60.7483 29.1448 59.1267C29.1448 57.5051 26.7109 57.5051 26.7109 59.1267Z" fill="#444444"/>
        <path d="M31.3224 62.9845C31.3224 64.606 33.7562 64.606 33.7562 62.9845C33.7562 61.3629 31.3224 61.3629 31.3224 62.9845Z" fill="#444444"/>
        <path d="M31.3224 59.1267C31.3224 60.7483 33.7562 60.7483 33.7562 59.1267C33.7562 57.5051 31.3224 57.5051 31.3224 59.1267Z" fill="#444444"/>
        <path d="M38.3676 62.9845C38.3676 61.3629 35.9338 61.3629 35.9338 62.9845C35.9368 64.606 38.3676 64.606 38.3676 62.9845Z" fill="#444444"/>
        <path d="M38.3676 59.1267C38.3676 57.5051 35.9338 57.5051 35.9338 59.1267C35.9338 60.7483 38.3676 60.7483 38.3676 59.1267Z" fill="#444444"/>
        <path d="M40.5513 62.9845C40.5513 64.606 42.9852 64.606 42.9852 62.9845C42.9821 61.3629 40.5513 61.3629 40.5513 62.9845Z" fill="#444444"/>
        <path d="M40.5513 59.1267C40.5513 60.7483 42.9852 60.7483 42.9852 59.1267C42.9852 57.5051 40.5513 57.5051 40.5513 59.1267Z" fill="#444444"/>
        <path d="M45.1628 62.9845C45.1628 64.606 47.5935 64.606 47.5935 62.9845C47.5935 61.3629 45.1628 61.3629 45.1628 62.9845Z" fill="#444444"/>
        <path d="M45.1628 59.1267C45.1628 60.7483 47.5935 60.7483 47.5935 59.1267C47.5935 57.5051 45.1628 57.5051 45.1628 59.1267Z" fill="#444444"/>
        <path d="M68.226 62.9845C68.226 64.606 70.6598 64.606 70.6598 62.9845C70.6568 61.3629 68.226 61.3629 68.226 62.9845Z" fill="#444444"/>
        <path d="M68.226 59.1267C68.226 60.7483 70.6598 60.7483 70.6598 59.1267C70.6598 57.5051 68.226 57.5051 68.226 59.1267Z" fill="#444444"/>
        <path d="M72.8374 62.9845C72.8374 64.606 75.2713 64.606 75.2713 62.9845C75.2682 61.3629 72.8374 61.3629 72.8374 62.9845Z" fill="#444444"/>
        <path d="M72.8374 59.1267C72.8374 60.7483 75.2713 60.7483 75.2713 59.1267C75.2713 57.5051 72.8374 57.5051 72.8374 59.1267Z" fill="#444444"/>
        <path d="M77.4488 62.9845C77.4488 64.606 79.8796 64.606 79.8796 62.9845C79.8796 61.3629 77.4488 61.3629 77.4488 62.9845Z" fill="#444444"/>
        <path d="M77.4488 59.1267C77.4488 60.7483 79.8796 60.7483 79.8796 59.1267C79.8796 57.5051 77.4488 57.5051 77.4488 59.1267Z" fill="#444444"/>
        <path d="M82.0602 62.9845C82.0602 64.606 84.491 64.606 84.491 62.9845C84.491 61.3629 82.0602 61.3629 82.0602 62.9845Z" fill="#444444"/>
        <path d="M86.6716 62.9845C86.6716 64.606 89.1055 64.606 89.1055 62.9845C89.1055 61.3629 86.6716 61.3629 86.6716 62.9845Z" fill="#444444"/>
        <path d="M91.2892 62.9845C91.2892 64.606 93.72 64.606 93.72 62.9845C93.72 61.3629 91.2892 61.3629 91.2892 62.9845Z" fill="#444444"/>
        <path d="M95.8975 62.9845C95.8975 64.606 98.3314 64.606 98.3314 62.9845C98.3314 61.3629 95.8975 61.3629 95.8975 62.9845Z" fill="#444444"/>
        <path d="M100.512 62.9845C100.512 64.606 102.946 64.606 102.946 62.9845C102.943 61.3629 100.512 61.3629 100.512 62.9845Z" fill="#444444"/>
        <path d="M100.512 59.1267C100.512 60.7483 102.946 60.7483 102.946 59.1267C102.946 57.5051 100.512 57.5051 100.512 59.1267Z" fill="#444444"/>
        <path d="M105.126 62.9845C105.126 64.606 107.56 64.606 107.56 62.9845C107.557 61.3629 105.126 61.3629 105.126 62.9845Z" fill="#444444"/>
        <path d="M105.126 59.1267C105.126 60.7483 107.56 60.7483 107.56 59.1267C107.56 57.5051 105.126 57.5051 105.126 59.1267Z" fill="#444444"/>
        <path d="M109.738 62.9845C109.738 64.606 112.169 64.606 112.169 62.9845C112.169 61.3629 109.738 61.3629 109.738 62.9845Z" fill="#444444"/>
        <path d="M109.738 59.1267C109.738 60.7483 112.169 60.7483 112.169 59.1267C112.169 57.5051 109.738 57.5051 109.738 59.1267Z" fill="#444444"/>
        <path d="M116.78 62.9845C116.78 61.3629 114.349 61.3629 114.349 62.9845C114.349 64.606 116.78 64.606 116.78 62.9845Z" fill="#444444"/>
        <path d="M116.78 59.1267C116.78 57.5051 114.349 57.5051 114.349 59.1267C114.349 60.7483 116.78 60.7483 116.78 59.1267Z" fill="#444444"/>
        <path d="M118.964 62.9845C118.964 64.606 121.398 64.606 121.398 62.9845C121.395 61.3629 118.964 61.3629 118.964 62.9845Z" fill="#444444"/>
        <path d="M118.964 59.1267C118.964 60.7483 121.398 60.7483 121.398 59.1267C121.398 57.5051 118.964 57.5051 118.964 59.1267Z" fill="#444444"/>
        <path d="M132.801 62.9845C132.801 64.606 135.235 64.606 135.235 62.9845C135.232 61.3629 132.801 61.3629 132.801 62.9845Z" fill="#444444"/>
        <path d="M132.801 59.1267C132.801 60.7483 135.235 60.7483 135.235 59.1267C135.235 57.5051 132.801 57.5051 132.801 59.1267Z" fill="#444444"/>
        <path d="M137.412 62.9845C137.412 64.606 139.846 64.606 139.846 62.9845C139.843 61.3629 137.412 61.3629 137.412 62.9845Z" fill="#444444"/>
        <path d="M137.412 59.1267C137.412 60.7483 139.846 60.7483 139.846 59.1267C139.846 57.5051 137.412 57.5051 137.412 59.1267Z" fill="#444444"/>
        <path d="M10.693 70.8482C10.693 69.2267 8.25915 69.2267 8.25915 70.8482C8.25915 72.4698 10.693 72.4698 10.693 70.8482Z" fill="#444444"/>
        <path d="M10.693 66.9905C10.693 65.3689 8.25915 65.3689 8.25915 66.9905C8.25915 68.612 10.693 68.612 10.693 66.9905Z" fill="#444444"/>
        <path d="M12.8736 70.8482C12.8736 72.4698 15.3044 72.4698 15.3044 70.8482C15.3044 69.2267 12.8736 69.2267 12.8736 70.8482Z" fill="#444444"/>
        <path d="M12.8736 66.9905C12.8736 68.612 15.3044 68.612 15.3044 66.9905C15.3044 65.3689 12.8736 65.3689 12.8736 66.9905Z" fill="#444444"/>
        <path d="M17.485 70.8482C17.485 72.4698 19.9158 72.4698 19.9158 70.8482C19.9158 69.2267 17.485 69.2267 17.485 70.8482Z" fill="#444444"/>
        <path d="M17.485 66.9905C17.485 68.612 19.9158 68.612 19.9158 66.9905C19.9158 65.3689 17.485 65.3689 17.485 66.9905Z" fill="#444444"/>
        <path d="M22.0965 70.8482C22.0965 72.4698 24.5303 72.4698 24.5303 70.8482C24.5303 69.2267 22.0965 69.2267 22.0965 70.8482Z" fill="#444444"/>
        <path d="M22.0965 66.9905C22.0965 68.612 24.5303 68.612 24.5303 66.9905C24.5303 65.3689 22.0965 65.3689 22.0965 66.9905Z" fill="#444444"/>
        <path d="M26.7109 70.8482C26.7109 72.4698 29.1448 72.4698 29.1448 70.8482C29.1448 69.2267 26.7109 69.2267 26.7109 70.8482Z" fill="#444444"/>
        <path d="M26.7109 66.9905C26.7109 68.612 29.1448 68.612 29.1448 66.9905C29.1448 65.3689 26.7109 65.3689 26.7109 66.9905Z" fill="#444444"/>
        <path d="M31.3224 70.8482C31.3224 72.4698 33.7562 72.4698 33.7562 70.8482C33.7562 69.2267 31.3224 69.2267 31.3224 70.8482Z" fill="#444444"/>
        <path d="M31.3224 66.9905C31.3224 68.612 33.7562 68.612 33.7562 66.9905C33.7562 65.3689 31.3224 65.3689 31.3224 66.9905Z" fill="#444444"/>
        <path d="M38.3676 70.8482C38.3676 69.2267 35.9338 69.2267 35.9338 70.8482C35.9338 72.4698 38.3676 72.4698 38.3676 70.8482Z" fill="#444444"/>
        <path d="M38.3676 66.9905C38.3676 65.3689 35.9338 65.3689 35.9338 66.9905C35.9368 68.612 38.3676 68.612 38.3676 66.9905Z" fill="#444444"/>
        <path d="M40.5513 70.8482C40.5513 72.4698 42.9852 72.4698 42.9852 70.8482C42.9852 69.2267 40.5513 69.2267 40.5513 70.8482Z" fill="#444444"/>
        <path d="M40.5513 66.9905C40.5513 68.612 42.9852 68.612 42.9852 66.9905C42.9821 65.3689 40.5513 65.3689 40.5513 66.9905Z" fill="#444444"/>
        <path d="M45.1628 70.8482C45.1628 72.4698 47.5935 72.4698 47.5935 70.8482C47.5935 69.2267 45.1628 69.2267 45.1628 70.8482Z" fill="#444444"/>
        <path d="M45.1628 66.9905C45.1628 68.612 47.5935 68.612 47.5935 66.9905C47.5935 65.3689 45.1628 65.3689 45.1628 66.9905Z" fill="#444444"/>
        <path d="M49.7742 70.8482C49.7742 72.4698 52.2049 72.4698 52.2049 70.8482C52.2049 69.2267 49.7742 69.2267 49.7742 70.8482Z" fill="#444444"/>
        <path d="M49.7742 66.9905C49.7742 68.612 52.2049 68.612 52.2049 66.9905C52.2049 65.3689 49.7742 65.3689 49.7742 66.9905Z" fill="#444444"/>
        <path d="M66.0423 70.8482C66.0423 69.2267 63.6084 69.2267 63.6084 70.8482C63.6084 72.4698 66.0423 72.4698 66.0423 70.8482Z" fill="#444444"/>
        <path d="M66.0423 66.9905C66.0423 65.3689 63.6084 65.3689 63.6084 66.9905C63.6115 68.612 66.0423 68.612 66.0423 66.9905Z" fill="#444444"/>
        <path d="M68.226 70.8482C68.226 72.4698 70.6598 72.4698 70.6598 70.8482C70.6598 69.2267 68.226 69.2267 68.226 70.8482Z" fill="#444444"/>
        <path d="M68.226 66.9905C68.226 68.612 70.6598 68.612 70.6598 66.9905C70.6568 65.3689 68.226 65.3689 68.226 66.9905Z" fill="#444444"/>
        <path d="M72.8374 70.8482C72.8374 72.4698 75.2713 72.4698 75.2713 70.8482C75.2713 69.2267 72.8374 69.2267 72.8374 70.8482Z" fill="#444444"/>
        <path d="M72.8374 66.9905C72.8374 68.612 75.2713 68.612 75.2713 66.9905C75.2682 65.3689 72.8374 65.3689 72.8374 66.9905Z" fill="#444444"/>
        <path d="M77.4488 70.8482C77.4488 72.4698 79.8796 72.4698 79.8796 70.8482C79.8796 69.2267 77.4488 69.2267 77.4488 70.8482Z" fill="#444444"/>
        <path d="M77.4488 66.9905C77.4488 68.612 79.8796 68.612 79.8796 66.9905C79.8796 65.3689 77.4488 65.3689 77.4488 66.9905Z" fill="#444444"/>
        <path d="M82.0602 70.8482C82.0602 72.4698 84.491 72.4698 84.491 70.8482C84.491 69.2267 82.0602 69.2267 82.0602 70.8482Z" fill="#444444"/>
        <path d="M82.0602 66.9905C82.0602 68.612 84.491 68.612 84.491 66.9905C84.491 65.3689 82.0602 65.3689 82.0602 66.9905Z" fill="#444444"/>
        <path d="M86.6716 70.8482C86.6716 72.4698 89.1055 72.4698 89.1055 70.8482C89.1055 69.2267 86.6716 69.2267 86.6716 70.8482Z" fill="#444444"/>
        <path d="M86.6716 66.9905C86.6716 68.612 89.1055 68.612 89.1055 66.9905C89.1055 65.3689 86.6716 65.3689 86.6716 66.9905Z" fill="#444444"/>
        <path d="M91.2892 70.8482C91.2892 72.4698 93.72 72.4698 93.72 70.8482C93.72 69.2267 91.2892 69.2267 91.2892 70.8482Z" fill="#444444"/>
        <path d="M91.2892 66.9905C91.2892 68.612 93.72 68.612 93.72 66.9905C93.72 65.3689 91.2892 65.3689 91.2892 66.9905Z" fill="#444444"/>
        <path d="M95.8975 70.8482C95.8975 72.4698 98.3314 72.4698 98.3314 70.8482C98.3314 69.2267 95.8975 69.2267 95.8975 70.8482Z" fill="#444444"/>
        <path d="M95.8975 66.9905C95.8975 68.612 98.3314 68.612 98.3314 66.9905C98.3314 65.3689 95.8975 65.3689 95.8975 66.9905Z" fill="#444444"/>
        <path d="M100.512 70.8482C100.512 72.4698 102.946 72.4698 102.946 70.8482C102.946 69.2267 100.512 69.2267 100.512 70.8482Z" fill="#444444"/>
        <path d="M100.512 66.9905C100.512 68.612 102.946 68.612 102.946 66.9905C102.943 65.3689 100.512 65.3689 100.512 66.9905Z" fill="#444444"/>
        <path d="M105.126 70.8482C105.126 72.4698 107.56 72.4698 107.56 70.8482C107.56 69.2267 105.126 69.2267 105.126 70.8482Z" fill="#444444"/>
        <path d="M105.126 66.9905C105.126 68.612 107.56 68.612 107.56 66.9905C107.557 65.3689 105.126 65.3689 105.126 66.9905Z" fill="#444444"/>
        <path d="M109.738 70.8482C109.738 72.4698 112.169 72.4698 112.169 70.8482C112.169 69.2267 109.738 69.2267 109.738 70.8482Z" fill="#444444"/>
        <path d="M109.738 66.9905C109.738 68.612 112.169 68.612 112.169 66.9905C112.169 65.3689 109.738 65.3689 109.738 66.9905Z" fill="#444444"/>
        <path d="M116.78 70.8482C116.78 69.2267 114.349 69.2267 114.349 70.8482C114.349 72.4698 116.78 72.4698 116.78 70.8482Z" fill="#444444"/>
        <path d="M116.78 66.9905C116.78 65.3689 114.349 65.3689 114.349 66.9905C114.349 68.612 116.78 68.612 116.78 66.9905Z" fill="#444444"/>
        <path d="M118.964 70.8482C118.964 72.4698 121.398 72.4698 121.398 70.8482C121.398 69.2267 118.964 69.2267 118.964 70.8482Z" fill="#444444"/>
        <path d="M118.964 66.9905C118.964 68.612 121.398 68.612 121.398 66.9905C121.395 65.3689 118.964 65.3689 118.964 66.9905Z" fill="#444444"/>
        <path d="M126.006 70.8482C126.006 69.2267 123.575 69.2267 123.575 70.8482C123.575 72.4698 126.006 72.4698 126.006 70.8482Z" fill="#444444"/>
        <path d="M130.617 70.8482C130.617 69.2267 128.187 69.2267 128.187 70.8482C128.187 72.4698 130.617 72.4698 130.617 70.8482Z" fill="#444444"/>
        <path d="M132.801 70.8482C132.801 72.4698 135.235 72.4698 135.235 70.8482C135.235 69.2267 132.801 69.2267 132.801 70.8482Z" fill="#444444"/>
        <path d="M132.801 66.9905C132.801 68.612 135.235 68.612 135.235 66.9905C135.232 65.3689 132.801 65.3689 132.801 66.9905Z" fill="#444444"/>
        <path d="M137.412 70.8482C137.412 72.4698 139.846 72.4698 139.846 70.8482C139.846 69.2267 137.412 69.2267 137.412 70.8482Z" fill="#444444"/>
        <path d="M137.412 66.9905C137.412 68.612 139.846 68.612 139.846 66.9905C139.843 65.3689 137.412 65.3689 137.412 66.9905Z" fill="#444444"/>
        <path d="M10.693 74.8573C10.693 73.2357 8.25915 73.2357 8.25915 74.8573C8.25915 76.4788 10.693 76.4788 10.693 74.8573Z" fill="#444444"/>
        <path d="M12.8736 74.8573C12.8736 76.4788 15.3044 76.4788 15.3044 74.8573C15.3044 73.2357 12.8736 73.2357 12.8736 74.8573Z" fill="#444444"/>
        <path d="M17.485 74.8573C17.485 76.4788 19.9158 76.4788 19.9158 74.8573C19.9158 73.2357 17.485 73.2357 17.485 74.8573Z" fill="#444444"/>
        <path d="M22.0965 74.8573C22.0965 76.4788 24.5303 76.4788 24.5303 74.8573C24.5303 73.2357 22.0965 73.2357 22.0965 74.8573Z" fill="#444444"/>
        <path d="M26.7109 74.8573C26.7109 76.4788 29.1448 76.4788 29.1448 74.8573C29.1448 73.2357 26.7109 73.2357 26.7109 74.8573Z" fill="#444444"/>
        <path d="M31.3224 74.8573C31.3224 76.4788 33.7562 76.4788 33.7562 74.8573C33.7562 73.2357 31.3224 73.2357 31.3224 74.8573Z" fill="#444444"/>
        <path d="M38.3676 74.8573C38.3676 73.2357 35.9338 73.2357 35.9338 74.8573C35.9338 76.4788 38.3676 76.4788 38.3676 74.8573Z" fill="#444444"/>
        <path d="M40.5513 74.8573C40.5513 76.4788 42.9852 76.4788 42.9852 74.8573C42.9852 73.2357 40.5513 73.2357 40.5513 74.8573Z" fill="#444444"/>
        <path d="M45.1628 74.8573C45.1628 76.4788 47.5935 76.4788 47.5935 74.8573C47.5935 73.2357 45.1628 73.2357 45.1628 74.8573Z" fill="#444444"/>
        <path d="M49.7742 74.8573C49.7742 76.4788 52.2049 76.4788 52.2049 74.8573C52.2049 73.2357 49.7742 73.2357 49.7742 74.8573Z" fill="#444444"/>
        <path d="M56.8194 74.8573C56.8194 73.2357 54.3856 73.2357 54.3856 74.8573C54.3856 76.4788 56.8194 76.4788 56.8194 74.8573Z" fill="#444444"/>
        <path d="M61.4309 74.8573C61.4309 73.2357 59.0001 73.2357 59.0001 74.8573C59.0001 76.4788 61.4309 76.4788 61.4309 74.8573Z" fill="#444444"/>
        <path d="M66.0423 74.8573C66.0423 73.2357 63.6084 73.2357 63.6084 74.8573C63.6084 76.4788 66.0423 76.4788 66.0423 74.8573Z" fill="#444444"/>
        <path d="M68.226 74.8573C68.226 76.4788 70.6598 76.4788 70.6598 74.8573C70.6598 73.2357 68.226 73.2357 68.226 74.8573Z" fill="#444444"/>
        <path d="M72.8374 74.8573C72.8374 76.4788 75.2713 76.4788 75.2713 74.8573C75.2713 73.2357 72.8374 73.2357 72.8374 74.8573Z" fill="#444444"/>
        <path d="M77.4488 74.8573C77.4488 76.4788 79.8796 76.4788 79.8796 74.8573C79.8796 73.2357 77.4488 73.2357 77.4488 74.8573Z" fill="#444444"/>
        <path d="M82.0602 74.8573C82.0602 76.4788 84.491 76.4788 84.491 74.8573C84.491 73.2357 82.0602 73.2357 82.0602 74.8573Z" fill="#444444"/>
        <path d="M86.6716 74.8573C86.6716 76.4788 89.1055 76.4788 89.1055 74.8573C89.1055 73.2357 86.6716 73.2357 86.6716 74.8573Z" fill="#444444"/>
        <path d="M91.2892 74.8573C91.2892 76.4788 93.72 76.4788 93.72 74.8573C93.72 73.2357 91.2892 73.2357 91.2892 74.8573Z" fill="#444444"/>
        <path d="M95.8975 74.8573C95.8975 76.4788 98.3314 76.4788 98.3314 74.8573C98.3314 73.2357 95.8975 73.2357 95.8975 74.8573Z" fill="#444444"/>
        <path d="M100.512 74.8573C100.512 76.4788 102.946 76.4788 102.946 74.8573C102.946 73.2357 100.512 73.2357 100.512 74.8573Z" fill="#444444"/>
        <path d="M105.126 74.8573C105.126 76.4788 107.56 76.4788 107.56 74.8573C107.56 73.2357 105.126 73.2357 105.126 74.8573Z" fill="#444444"/>
        <path d="M109.738 74.8573C109.738 76.4788 112.169 76.4788 112.169 74.8573C112.169 73.2357 109.738 73.2357 109.738 74.8573Z" fill="#444444"/>
        <path d="M116.78 74.8573C116.78 73.2357 114.349 73.2357 114.349 74.8573C114.349 76.4788 116.78 76.4788 116.78 74.8573Z" fill="#444444"/>
        <path d="M118.964 74.8573C118.964 76.4788 121.398 76.4788 121.398 74.8573C121.398 73.2357 118.964 73.2357 118.964 74.8573Z" fill="#444444"/>
        <path d="M126.006 74.8573C126.006 73.2357 123.575 73.2357 123.575 74.8573C123.575 76.4788 126.006 76.4788 126.006 74.8573Z" fill="#444444"/>
        <path d="M130.617 74.8573C130.617 73.2357 128.187 73.2357 128.187 74.8573C128.187 76.4788 130.617 76.4788 130.617 74.8573Z" fill="#444444"/>
        <path d="M132.801 74.8573C132.801 76.4788 135.235 76.4788 135.235 74.8573C135.235 73.2357 132.801 73.2357 132.801 74.8573Z" fill="#444444"/>
        <path d="M137.412 74.8573C137.412 76.4788 139.846 76.4788 139.846 74.8573C139.846 73.2357 137.412 73.2357 137.412 74.8573Z" fill="#444444"/>
        <path d="M33.3578 48.1836H8.33945V54.9787H33.3578V48.1836Z" fill="#696969"/>
        <path d="M133.542 54.9787H139.853V48.1836H131.887C133.091 49.4283 133.836 51.124 133.836 52.9927C133.836 53.6845 133.731 54.3486 133.542 54.9787Z" fill="#696969"/>
        <path d="M114.967 54.9787H120.422C120.233 54.3486 120.131 53.6845 120.131 52.9927C120.131 51.124 120.876 49.4283 122.08 48.1836H114.97V54.9787H114.967Z" fill="#696969"/>
        <path d="M50.5865 48.1836H37.3731V54.9787H50.5865V48.1836Z" fill="#696969"/>
        <path d="M111.502 48.1836H99.746V54.9787H111.502V48.1836Z" fill="#696969"/>
        <path d="M80.6363 48.1836H65.0724V54.9787H80.6363V48.1836Z" fill="#696969"/>
        <path d="M150.728 36.1376V18.841H149.492V0H0.926605V18.841H0V36.1376H1.23547V67.3333H0V84.9388H0.926605V101H149.492V84.9388H150.728V67.3333H149.492V36.1376H150.728ZM147.021 98.5291H3.39755V2.47095H147.021V98.5291Z" fill="#9A9A9A"/>
        <path d="M125.086 29.7163H123.575V28.4561C123.575 28.2553 123.495 28.0638 123.353 27.9217C123.211 27.7796 123.019 27.6993 122.818 27.6993H121.308C121.2 27.6993 121.104 27.7673 121.07 27.8692L120.876 28.453H114.692L114.498 27.8692C114.46 27.7673 114.365 27.6993 114.26 27.6993H112.749C112.549 27.6993 112.357 27.7796 112.215 27.9217C112.073 28.0638 111.993 28.2553 111.993 28.4561V29.7163H110.482C110.343 29.7163 110.229 29.8274 110.229 29.9695V36.5144C110.229 36.5824 110.257 36.6442 110.303 36.6936C110.349 36.7399 110.414 36.7677 110.482 36.7677H111.239C111.307 36.7677 111.369 36.7399 111.418 36.6936C111.464 36.6473 111.492 36.5824 111.492 36.5144V31.2266H111.996V32.4868C111.996 32.6876 112.076 32.8791 112.218 33.0211C112.36 33.1632 112.552 33.2435 112.752 33.2435H114.263C114.371 33.2435 114.467 33.1756 114.501 33.0737L114.695 32.4899H120.879L121.073 33.0737C121.107 33.1756 121.206 33.2435 121.311 33.2435H122.822C123.022 33.2435 123.214 33.1632 123.356 33.0211C123.498 32.8791 123.578 32.6876 123.578 32.4868V31.2266H124.082V36.5144C124.082 36.5824 124.11 36.6442 124.156 36.6936C124.202 36.7399 124.267 36.7677 124.335 36.7677H125.092C125.16 36.7677 125.221 36.7399 125.271 36.6936C125.317 36.6473 125.345 36.5824 125.345 36.5144V29.9695C125.345 29.9016 125.317 29.8398 125.271 29.7904C125.218 29.741 125.154 29.7163 125.086 29.7163ZM111.996 30.7232H111.239C111.1 30.7232 110.986 30.8344 110.986 30.9764V36.2643H110.732V30.2228H111.993V30.7232H111.996ZM112.749 32.737C112.61 32.737 112.496 32.6258 112.496 32.4837V28.4561C112.496 28.3171 112.607 28.2028 112.749 28.2028V32.737ZM113.506 32.737H113.253V28.2059H113.506V32.737ZM114.763 31.9803H114.51C114.402 31.9803 114.306 32.0482 114.272 32.1501L114.077 32.7339H114.006V28.2028H114.077L114.272 28.7866C114.306 28.8885 114.405 28.9564 114.51 28.9564H114.763V31.9803ZM115.77 31.9803H115.267V28.9595H115.77V31.9803ZM117.03 31.9803H116.274V28.9595H117.03V31.9803ZM118.037 31.9803H117.534V28.9595H118.037V31.9803ZM119.294 31.9803H118.538V28.9595H119.294V31.9803ZM120.301 31.9803H119.798V28.9595H120.301V31.9803ZM121.561 32.737H121.49L121.296 32.1532C121.262 32.0513 121.163 31.9833 121.058 31.9833H120.805V28.9626H121.058C121.166 28.9626 121.262 28.8947 121.296 28.7927L121.49 28.209H121.561V32.737ZM122.318 32.737H122.065V28.2059H122.318V32.737ZM123.072 32.4837C123.072 32.5517 123.044 32.6134 122.998 32.6629C122.951 32.7092 122.886 32.737 122.818 32.737V28.2059C122.886 28.2059 122.948 28.2337 122.998 28.28C123.044 28.3263 123.072 28.3912 123.072 28.4592V32.4837ZM124.835 36.2612H124.582V30.9733C124.582 30.9054 124.554 30.8436 124.508 30.7942C124.462 30.7479 124.397 30.7201 124.329 30.7201H123.572V30.2166H124.832V36.2612H124.835Z" fill="#9A9A9A"/>
        <path d="M110.825 35.4828V30.1455" stroke="#9A9A9A" stroke-width="2" stroke-miterlimit="10"/>
        <path d="M124.656 35.4487V30.1115" stroke="#9A9A9A" stroke-width="2" stroke-miterlimit="10"/>
        <path d="M111.044 30.4512L112.033 30.4172" stroke="#9A9A9A" stroke-width="2" stroke-miterlimit="10"/>
        <path d="M123.498 30.5007H124.486" stroke="#9A9A9A" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
      
      <h3>Electrical Engineer</h3>
      <p>I design user friendly, incl usive and accessible products. 
        I also work directly with development teams to deliver useful design 
        specifications: user flows, mockups, design systems, interaction guidelines, etc.
      </p>
    </div>

  </div>

</section>


<style>

  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  h3 {
    margin-top: 2rem;
    font-size: clamp(1.8rem, 4vw, 2rem);
    font-weight: 600;
    text-align: center;
  }

  p {
    margin-top: 2rem;
    font-size: clamp(1.3rem, 2.5vw, 1.6rem);
  }

  .cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    border: 2px solid;
    border-radius: 10px;
    padding: 2rem 2rem;
    max-width: 350px;
  }

  svg {
    margin-top: 2rem;
    margin: 0 auto;
  }

</style>