---

import ArrowRight from "../svg/Symbols/ArrowRight.astro";

---


<section id="work-together" class="mt-28">

  <h2>Let's work together 👋</h2>
  <p class="text-fontLightGray3 dark:text-fontDarkGray5">I have been in the design industry for over 10 years, specialising in UX 
  design and product development. I'm currently available for design, no-code and fun side projects.</p>
  <a href="#" class="border-2 border-btnLight bg-btnLight text-btnFont hover:bg-transparent dark:bg-btnDark dark:border-btnDark dark:hover:text-dark">
    Contact Me 
    <ArrowRight width="14" height="14"/>
  </a>

</section>


<style>

  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  p {
    margin-top: 2rem;
    max-width: 75ch;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    border-radius: 10px;
    transition: all 200ms ease-out;
  }

  svg {
    display: inline-block;
  }

</style>