---
import ArrowRight from '@svg/Symbols/ArrowRight.astro';
---

<section id='work-together' class='mt-60'>
  <h2>Let's work together 👋</h2>
  <p class='text-fontLightGray3 dark:text-fontDarkGray5'>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor.
  </p>
  <a
    href='/contact'
    class='border-2 border-btnLight bg-btnLight text-btnFont hover:bg-transparent dark:bg-btnDark dark:border-btnDark dark:hover:text-dark'
  >
    Reach out
    <ArrowRight width='14' height='14' />
  </a>
</section>

<style>
  p {
    margin-top: 2rem;
    max-width: 75ch;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    border-radius: 10px;
    transition: all 200ms ease-out;
  }

  svg {
    display: inline-block;
  }
</style>
