---

---


<section id="work-together" class="mt-28">

  <h2>Let's work together 👋</h2>
  <p>I have been in the design industry for over 10 years, specialising in UX 
  design and product development. I'm currently available for design, no-code and fun side projects.</p>
  <a href="#" class="bg-[#57EFF9]  dark:bg-[#FFF031] text-[#333333]">
    Contact Me 
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 1L13 7M13 7L8 13M13 7H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>

</section>


<style>

  h2 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 600;
  }

  p {
    margin-top: 2rem;
    max-width: 75ch;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  a {
    margin-top: 1.8rem;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 900;
    border-radius: 10px;
  }

  svg {
    display: inline-block;
  }

</style>