---
import '@fontsource/ibm-plex-mono';
import BaseHead from '../components/BaseHead.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Service worker registration. -->
    <script type='text/partytown' is:inline src='/registerSW.js'></script>
    <link rel='manifest' href='/manifest.webmanifest' />
    
    <BaseHead
      title={title}
      description={description}
    />
  </head>
  <body class='bg-bgLight text-fontLight dark:bg-bgDark dark:text-fontDark'>
    <slot />
    <style is:global>
      :root {
        --header-height: 65px;
        --padding-layout-left: 24px;
        --padding-layout-right: 24px;

        --accent-light: #333333;
        --accent-dark: #f2f2f2;

        --btn-font-color: #333;
        --btn-bg-color-dark: #fff031;
        --btn-bg-color-light: #57eff9;

        --bg-color-dark: #0a0915;
        --font-color-dark: #f2f2f2;
        --font-color-dark-gray-1: #a0a0a0;
        --font-color-dark-gray-2: #bababa;
        --font-color-dark-gray-3: #a8a8a8;
        --font-color-dark-gray-4: #888;
        --font-color-dark-gray-5: #cdcdcd;

        --bg-color-light: #f2f2f2;
        --font-color-light: #333333;
        --font-color-light-gray-1: #666;
        --font-color-light-gray-2: #6b6b6b;
        --font-color-light-gray-3: #444;
      }

      html {
        font-family: 'IBM Plex Mono', system-ui, sans-serif;
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: var(--header-height, 65px);
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      body {
        min-height: 100%;
        max-width: 140rem;
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: auto;
      }

      main {
        padding-left: var(--padding-layout-left);
        padding-right: var(--padding-layout-right);
      }

      h2 {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        font-weight: 600;
      }
    </style>
  </body>
</html>
